// -----------------------------------------------------------------------------
  // Button
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES
$button-background-color: rgba(0,0,0,0.033) !default;
$button-background-color-disabled: $color-light;
$button-text-color: rgba(0,0,0,0.5) !default;
$button-text-color-disabled: $color-ultra-light;
$button-active-background-color: rgba(0,0,0,0.3) !default;
$button-active-text-color: rgba(255,255,255,0.5) !default;
$button-icon-color: rgba(128,128,128,0.7) !default;
$button-icon-active-color: $button-active-background-color !default;
$button-min-width: 32px !default;
$button-height: 26px !default;
$button-padding: ($padding - 2) ($padding * 2) ($padding + 2) !default;
$button-margin: 4px !default;
$button-fab-size: 56px !default;
$button-fab-size-mini: 40px !default;
$button-fab-font-size: 24px !default;
$button-icon-size: 26px !default;
$button-icon-size-mini: 24px !default;

.ui-button {
  min-width: $button-min-width;
  height: 36px;
  color: $button-text-color;
  background-color: $button-background-color;
  position: relative;
  padding: $button-padding;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  overflow: visible;
  @include button-skin();
  @include text-align-center();
  @include animate-default(0.2s);
  transition-property: color, background-color, box-shadow;

  &:hover,
  &:focus,
  &:active {
    border: none;
  }

  &:hover,
  &:active {
    color: $button-active-text-color;
    background-color: $button-active-background-color;
  }

  &.ui--disabled {
    color: $button-text-color-disabled !important;
    background-color: $button-background-color-disabled !important;

    &:hover,
    &:focus,
    &:active {
      color: $button-text-color-disabled !important;
      background-color: $button-background-color-disabled !important;
    }
  }

  &.header {
    font-size: 22px !important;
    font-weight: 700 !important;
    width: 100% !important;
    height: 44px !important;
  }

  & > .ui-icon,
  & > [class^="ui-icon-"],
  & > [class*="ui-icon-"] {
    font-size: 1.4em;
    line-height: 0.8em;
  }

  & > i {
    color: inherit !important;
  }
}

.text-button {
  padding: ($padding / 2) ($padding * 2);
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  font-size: 1em;
  font-weight: 500;
  line-height: 2 !important;
  letter-spacing: 0.04em;
  @include text-align-center();
  @include animate-default(0.2s);
  transition-property: color, background-color, box-shadow;
  &::-moz-focus-inner {
    border: none !important;
  }
  &:hover,
  &:active {
    background-color: transparent !important;
  }
}
