@charset 'UTF-8';

// This file will process this component ONLY and copy the results to its component directory.

@import
  '../../abstracts/colors',
  '../../abstracts/variables',
  '../../abstracts/extends',
'../../abstracts/functions',
  '../../abstracts/mixins',
  'Tooltip';

$tooltip-bg: #262626;
$tooltip-border-color: #1f1f1f;
$tooltip-border: 1px solid $tooltip-border-color;

@mixin tooltip-border-arrow($position: top) {
  @if ($position == bottom) {
    &:before {
      border-bottom-color: $tooltip-border-color;
      bottom: 100%;
      left: 48px;
      margin-left: -42px;
    }
    &:after {
      border-bottom-color: $tooltip-bg;
      bottom: 100%;
      left: 50px;
      margin-left: -40px;
    }
  } @else if ($position == left) {
    &:before {
      border-left-color: $tooltip-border-color;
      left: 100%;
      top: 48px;
      margin-top: -42px;
    }
    &:after {
      border-left-color: $tooltip-bg;
      left: 100%;
      top: 50px;
      margin-top: -40px;
    }
  } @else if ($position == right) {
    &:before {
      border-right-color: $tooltip-border-color;
      right: 100%;
      top: 48px;
      margin-top: -42px;
    }
    &:after {
      border-right-color: $tooltip-bg;
      right: 100%;
      top: 50px;
      margin-top: -40px;
    }
  } @else {
    &:before {
      border-top-color: $tooltip-border-color;
      top: 100%;
      left: 48px;
      margin-left: -42px;
    }
    &:after {
      border-top-color: $tooltip-bg;
      top: 100%;
      left: 50px;
      margin-left: -40px;
    }
  }
}

.ui-tooltip {
  display: inline-block;
  @media screen and (max-width: $mobile-screen-threshold) {
    display: none;
  }
  &.ui--covered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    & > .ui-tooltip-wrapper {
      & > .ui-tooltip-widget {
        width: auto;
        height: auto;
        overflow: visible;
      }
    }
  }
}

.ui-tooltip-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.ui-tooltip-widget {
  // display: block;
  position: fixed;
  overflow: hidden;
  width: 0px;
  height: 0px;
  z-index: 999;
  @include animate-default(0.2s);
  transition-property: all;
}

.ui-tooltip-content {
  min-height: 20px;
  min-width: 120px;
  position: relative;
  background: $tooltip-bg;
  border: $tooltip-border;
  color: #efefef;
  font-weight: 300;
  text-align: left;
  border-radius: 0;
  padding: 8px;
  line-height: 16px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.07),
              0px 3px 8px -3px rgba(0,0,0,.3);

  &:before,
  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:before {
    border-width: 10px;
  }

  &:after {
    border-width: 8px;
  }
}

.ui-tooltip-left {
  top: 50%;
  right: 100%;
  margin-right: 10px;
  margin-top: -18px;

  & > .ui-tooltip-content {
    @include tooltip-border-arrow('left');
  }
}

.ui-tooltip-right {
  top: 50%;
  left: 100%;
  margin-left: 10px;
  margin-top: -18px;

  & > .ui-tooltip-content {
    @include tooltip-border-arrow('right');
  }
}

.ui-tooltip-top {
  left: 50%;
  bottom: 100%;
  margin-bottom: 10px;

  & > .ui-tooltip-content {
    @include tooltip-border-arrow('top');
  }
}

.ui-tooltip-bottom {
  left: 50%;
  top: 100%;
  margin-top: 10px;

  & > .ui-tooltip-content {
    @include tooltip-border-arrow('bottom');
  }
}
