// -----------------------------------------------------------------------------
  // ToolBar
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES
$toolbar-unit-padding: 0em 0.8em 0em 0.8em !default;
$toolbar-title-padding: 0.5em 1.2em 0.5em 1.2em !default;

.ui-toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  font-size: inherit;
  @include animate-default();
  transition-property: $layout-transition-properties;
  & > .ui-content {
    z-index: 8;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    @include text-horizontal-align-center();

    & > .ui-header {
      display: inline-block;
      padding: $toolbar-title-padding;
      font-size: inherit;
      line-height: 1;
      margin: 0;
      border: none;
      color: inherit;
      background-color: transparent;
    }

    & > .ui-item,
    & > .ui-text,
    & > .ui-button,
    & > .ui-icon {
      cursor: pointer;
      display: inline-block;
      position: relative;
      height: 100%;
      vertical-align: middle;
      white-space: nowrap;
      text-align: start;
      text-overflow: ellipsis;
      margin: 0;
      padding: $toolbar-unit-padding;
      border-radius: 0;
      font-size: inherit;
      color: inherit;
      background-color: transparent;
      @include text-horizontal-align-center();
      border-left: 1px solid rgba(215,215,215,0.08);
      border-right: 1px solid rgba(0,0,0,0.05);
    }

    & > .ui-item,
    & > .ui-button,
    & > .ui-icon {
      line-height: 1em;
    }

    & > .ui-text {
      line-height: 2em;
    }

    & > .ui-logo {
      display: inline-block;
      padding: 10px 20px;
      margin: 0;
      height: 100%;
      cursor: pointer;
      border: none;
      & > img {
        padding: 0;
        height: 100%;
      }
    }

    & > .ui-list {
      display: inline-block;
      padding: $toolbar-unit-padding;
      margin: 0;
      letter-spacing: 1px;
      font-size: inherit;
      line-height: 1;
      list-style-type: none;
      @include text-horizontal-align-right();
    }
  }
}
