// -----------------------------------------------------------------------------
// This file contains all component specific Sass mixins.
// -----------------------------------------------------------------------------

// VARIABLES

$pill-background-color: $color-lighter !default;
$pill-background-color-disabled: $color-light;
$pill-text-color: color-dark-alpha(0.5) !default;
$pill-text-color-disabled: $color-ultra-light;
$pill-action-background-color: $color-ultra-light !default;
$pill-action-active-background-color: color-dark-alpha(0.2) !default;
$pill-action-text-color: color-dark-alpha(0.5) !default;
$pill-action-active-text-color: color-light-alpha(0.8) !default;
$pill-min-width: 32px !default;
$pill-height: 29px !default;
$pill-margin: 0px 0px 0px ($padding-large / 2) !default;
$pill-padding-calc: ($pill-height / 4);
$pill-padding: 0px $pill-padding-calc 0px $pill-padding-calc !default;
$pill-line-height: $pill-height;
$pill-action-size: 24px !default;
