// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.ui-pill {
  display: inline-block;
  position: relative;
  height: $pill-height;
  min-width: $pill-min-width;
  padding: $pill-padding;
  margin: $pill-margin;
  border: none;
  border-radius: 20px;
  letter-spacing: 0;
  text-decoration: none;
  cursor: default;
  @include pill-skin();
  @include typo-button();
  @include text-align-center();
  overflow: hidden;
  transition: box-shadow 0.2s $animation-curve-fast-out-linear-in,
              background-color 0.2s $animation-curve-default,
              color 0.2s $animation-curve-default;
  outline: none;

  &.padleft {
    padding: $pill-action-padding !important;
  }
  &.padright {
    padding: $pill-remove-padding !important;
  }
  &.padboth {
    padding: $pill-both-padding !important;
  }
}

.ui-pill-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 28px;
}

.ui-pill-close,
.ui-pill-action {
  display: block;
  height: $pill-action-size;
  width: $pill-action-size;
  font-size: ($pill-action-size / 2);
  font-weight: 300;
  line-height: 20px;
  cursor: pointer;
}

.ui-pill-close {
  position: absolute;
  top: 4px;
  right: 0;
}

.ui-pill-action {
  position: absolute;
  top: 4px;
  left: 0;
}