// -----------------------------------------------------------------------------
  // Table
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES
$table-border-color: rgba(#000, 0.12);
$table-borders: 1px solid $table-border-color;
$table-row-height: 32px;
$table-header-bg-color: $color-dark;
$table-header-fg-color: $color-light;
$table-divider-color: rgba(#000, 0.12);
$table-hover-color: #eeeeee;
$table-selection-color: #e0e0e0;
$table-dividers: 1px solid $table-divider-color;
$table-row-height: 48px;
$table-last-row-height: 56px;
$table-header-height: 56px;
$table-column-spacing: 36px;
$table-column-padding: $table-column-spacing / 2;
$table-tile-header-height: 64px;
$table-tile-title-top: 20px;
$table-tile-padding: 24px;
$table-button-padding-right: 16px;
$table-cell-top: $table-tile-padding / 2;
$table-interactive-background-color: rgba(0,0,0,0.3) !default;
$table-interactive-text-color: rgba(255,255,255,0.5) !default;

.ui-table {
  position: relative;
  width: 100%;
  max-width: 100%;
  border: none;
  border-collapse: collapse;
  white-space: wrap;
  font-size: 12px;
  line-height: 16px;
}

.ui-table-thead {
  background-color: $table-header-bg-color;
  color: $table-header-fg-color;
}

.interactive {
  cursor: pointer;
  @include animate-default(0.2s);
  transition-property: color, background-color;

  &:hover {
    color: $table-interactive-text-color;
    background-color: $table-interactive-background-color;
  }
}

.interactive.sorted-asc {
  &:after {
		content: "\2B07";
    display: inline-block;
    position: absolute;
    right: 4px;
	}
}

.interactive.sorted-desc {
  &:after {
		content: "\2B06";
    display: inline-block;
    position: absolute;
    right: 4px;
	}
}

.interactive.filtered {
  &:before {
		content: "\26B2";
    display: inline-block;
    position: absolute;
    left: 4px;
	}
}

.ui-table-bordered {
  border-right: $table-borders;
  & > .ui-table-tbody {
    & > .ui-table-tbody-row {
      border: 0px solid rgba(0,0,0,0);
      border-bottom: $table-borders;
      & > .ui-table-cell {
        border: 0px solid rgba(0,0,0,0);
        border-left: $table-borders;
      }
    }
  }
  & > .ui-table-tfoot {
    & > .ui-table-tfoot-row {
      border: 0px solid rgba(0,0,0,0);
      border-bottom: $table-borders;
      & > .ui-table-cell {
        border: 0px solid rgba(0,0,0,0);
        border-left: $table-borders;
      }
    }
  }
}

.ui-table-padded {
  padding: $padding;
  & > .ui-table-tbody {
    & > .ui-table-tbody-row {
      & > .ui-table-cell {
        padding: $padding;
      }
    }
  }
  & > .ui-table-tfoot {
    & > .ui-table-tfoot-row {
      & > .ui-table-cell {
        padding: $padding;
      }
    }
  }
}

.ui-table-hover {
  & > .ui-table-tbody {
    & > .ui-table-tbody-row {
      &:hover {
        background-color: rgba(0,180,255,0.08) !important;
      }
      & > .ui-table-cell {
        @include animate-default(0.28s);
        transition-property: background-color;
        &:hover {
          background-color: rgba(0,0,0,0.033);
        }
      }
    }
  }
  & > .ui-table-tfoot {
    & > .ui-table-tfoot-row {
      &:hover {
        background-color: rgba(0,180,255,0.08) !important;
      }
      & > .ui-table-cell {
        @include animate-default(0.28s);
        transition-property: background-color;
        &:hover {
          background-color: rgba(0,0,0,0.033);
        }
      }
    }
  }
}

.ui-table-spaced {
  line-height: 20px;
  & > .ui-table-tbody {
    & > .ui-table-tbody-row {
      & > .ui-table-cell {
        padding-top: $padding;
      }
    }
  }
  & > .ui-table-tfoot {
    & > .ui-table-tfoot-row {
      & > .ui-table-cell {
        padding-top: $padding;
      }
    }
  }
}

.ui-table-striped {
  line-height: 20px;
  & > .ui-table-tbody {
    .ui-table-tbody-row:nth-child(odd) {
      background-color: rgba(0,0,0,0.033);
    }
  }
}

.sort-button {
  padding: 0 4px;
  float: right;
}

.table-filter {
  width: 100%;
  background-color: $table-header-bg-color;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 9999;
}

.table-filter-outer-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: space-around;
	max-width: 100%;
	padding: 3px 0px;
}

.table-filter-input-wrapper {
	display: inline-block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
	padding: 0px 4px;
	margin-left: auto;
	margin-right: auto;
}

.table-filter-button-wrapper {
	display: inline-block;
  width: 44px;
	padding-right: 4px;
}

.table-filter-input {
  display: inline-block;
	position: relative;
	width: 100%;
	max-width: 100%;
	height: ($widget-size - 8);
	background-color: white;
	padding: 0;
	line-height: 1;
}

.table-filter-button {
  display: inline-block;
	position: relative;
  width: 40px !important;
	height: ($widget-size - 8);
	color: lighten($table-header-fg-color, 20%);
	background: lighten($table-header-bg-color, 10%) !important;
	padding: 0 !important;
	line-height: 1;
  &:hover,
  &:focus:not(:active),
  &:active {
    background: lighten($table-header-bg-color, 20%) !important;
  }
}

@media (min-width: 40em) {
  .ui-table {
    font-size: 13px;
  }
}
