// -----------------------------------------------------------------------------
  // Typeography
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group base
////

html {
  @if $typography-custom-font {
    font: $typography-font-weight #{$typography-font-size + "%"}/#{$typography-line-height} $typography-custom-font, $typography-font-family;
  } @else {
    font: $typography-font-weight #{$typography-font-size + "%"}/#{$typography-line-height} $typography-font-family;
  }
}

body {
  color: $text-color;
  word-wrap: break-word;
  @include typography-hyphens(auto);
}

@include typography-headings;
@include typography-headings-style;

p {
  margin: auto auto $typography-indent-val;
  @if $typography-paragraph-spacing == false {
    & + p {
      text-indent: $typography-indent-val;
      margin-top: -$typography-indent-val;
    }
  }
}

small {
  font-size: $typography-small-print-size;
}

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  @include typography-hyphens(none);
}

q,
blockquote {
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
}

q {
  &:before,
  &:after {
    content: '"';
  }
  &:before {
    position: absolute;
    left: 0.2em;
  }
  &:after {
    margin-left: -0.2em;
  }
}

blockquote + figcaption cite {
  display: block;
  font-size: inherit;
  text-align: right;

  &:before {
    content: '\205C\00A0';
    font-size: 1.4em;
    line-height: 1;
  }
}

a {
  font-weight: inherit;
  text-decoration: none !important;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: $text-color;
    text-decoration: underline;
  }
}

dt,
dd {
  display: inline;
  margin: 0;

  & + dt {
    &:before {
      content: "\A";
      white-space: pre;
    }
  }
}

dt {
  font-weight: 600;
  @include content-align-right();
}

dd {
  font-weight: 300;
  @include content-align-left();

  & + dd {
    &:before {
      content: ", ";
    }
  }
  &:before {
      content: ": ";
      margin-left: 0rem;
  }
}

ul, ol {
  @include typography-lists;
  margin: 2px 0 6px;
  padding: 0;
}

ul {
  list-style: none;
}

pre {
  @include typography-white-space(pre);

  code {
    word-wrap: normal;
    @include typography-white-space(pre-wrap);
  }
}

code {
  @include typography-white-space(pre);
  font-family: monospace;
}

abbr {
  @include typography-smallcaps($typography-smcps-color, $typography-smcps-weight);
  &[title]:hover {
    cursor: help;
  }
}

address {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  font-style: normal;
}
