// -----------------------------------------------------------------------------
  // Textarea
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES

.ui-textarea {
  display: inline-block;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  line-height: 1;
  width: 100%;
  max-width: 100%;
  background-color: white;
  border-radius: $border-radius;
  border: $border;

  & > textarea {
    width: 100%;
    height: 100%;
    padding: $padding;
    min-height: $widget-size;
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    overflow: auto;
    resize: vertical;

    &:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
}
