// -----------------------------------------------------------------------------
  // Accordion
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

.ui-accordion {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
  @include text-align-left();

  & > .ui-content {
    display: block;
  	height: 0px;
  	padding: 0;
  	margin: 0;
    font-family: inherit;
    color: inherit;
  	overflow: hidden;
    @include animate-default(0.2s);
    transition-property: height, padding, box-shadow;

  	&.ui--active {
  		height: auto;
  		padding: 0.8em;
  		margin: 0;
  	}
  }
}

.ui-accordion-title {
	position: relative;
  display: block;
	border-bottom: none;
  width: 100%;
	padding: 0.4em 0;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  @include typography-title;
	text-decoration: none;
	overflow: hidden;
	transition: box-shadow 0.2s $animation-curve-fast-out-linear-in,
	          background-color 0.2s $animation-curve-default,
	          color 0.2s $animation-curve-default;
	cursor: pointer;
}

.ui-accordion-caret {
  height: 26px;
  font-style: normal;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -13px;
  font-size: 26px;
}
