// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

 @import 'config';

 
.ui-card {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 96%;
  z-index: 0;
  border: solid 1px rgba(0,0,0,0.14);
  border-radius: 1px;
  box-sizing: border-box;
  background-color: $color-white;
  padding: 0;
  margin: 1em 2%;
  overflow: hidden;
  @include shadow-card();

  &.ui-card-striped {
    & > .ui-card-header,
    & > .ui-card-footer {
      background-color: $color-lightest;
    }
  }
}

.ui-card-header,
.ui-card-content,
.ui-card-footer {
  display: block;
  width: 100%;
  margin: 0;
  transform-origin: $card-header-transform-origin-x $card-header-transform-origin-y;
  box-sizing: border-box;
}

.ui-card-header,
.ui-card-content {
  position: relative;
  padding: 14px 10px 10px;
}

.ui-card-header {
  border-bottom: 1px solid rgba(0,0,0,0.033);
}

.ui-card-footer {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  padding: 4px 10px;
  border-top: 1px solid rgba(0,0,0,0.033);
}

.ui-card-title {
  display: inline-block;
  position: relative;
  margin: 0 0 2px 0;
}

.ui-card-subtitle {
  display: inline-block;
  margin: 0 0 2px 0;
}

.ui-card-title,
.ui-card-subtitle {
  padding: 0;
}

.ui-card-title,
.ui-card-subtitle {
  height: 20px;
  width: 100%;
}

.ui-card-media {
  background-color: $card-image-placeholder-color;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
  box-sizing: border-box;
}
