// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.ui-card {
  display: block;
  position: relative;
  font-size: $card-font-size;
  letter-spacing: 0;
  font-weight: 400;
  height: $card-height;
  min-width: 245px;
  z-index: 0;
  border: solid 1px #979797;
  box-sizing: border-box;
  background-color: $card-background-color;
  padding: 0;
  margin: 0 10px 20px 10px;

  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }

  @media screen and (max-width: $screen-size-threshold) {
    height: $card-responsive-height !important;
  }
}

.ui-card-media {
  background-color: $card-image-placeholder-color;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
  box-sizing: border-box;
}

.ui-card-header,
.ui-card-content,
.ui-card-footer {
  display: block;
  margin: 10px;
  transform-origin: $card-header-transform-origin-x $card-header-transform-origin-y;
  box-sizing: border-box;
}

.ui-card-header,
.ui-card-content {
  position: relative;
  padding: 10px 0;
}

.ui-card-header {
  border-bottom: 2px solid $color-dark-alpha-3;
  &.has-right-badge {
    padding: 0 $card-badge-offset $padding $padding-small !important;
  }
  &.has-left-badge {
    padding: 0 $padding-small $padding $card-badge-offset !important;
  }
  &.has-badges {
    padding: 0 $card-badge-offset $padding $card-badge-offset !important;
  }
}

.ui-card-footer {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  padding: 0;
}

.ui-card-title,
.ui-card-label,
.ui-card-label-large {
  display: inline-block;
  position: relative;
  margin: 0 0 2px 0 !important;
}

.ui-card-subtitle {
  display: inline-block;
  margin: 0 0 2px 0 !important;
}

.ui-card-title,
.ui-card-subtitle,
.ui-card-label{
  padding: 0 !important;
}

.ui-card-title,
.ui-card-subtitle {
  height: 20px;
  width: 100%;
}

.ui-card-title,
.ui-card-label-large {
  @include typo-title;
}

.ui-card-subtitle,
.ui-card-label,
.ui-card-label-small {
  @include typo-subhead;
}

.ui-card-label {
  font-weight: 700 !important;
}

.ui-card-label-large {
  padding: $padding-small 0 0 !important;
}

.ui-card-badge-holder-left,
.ui-card-badge-holder-right {
  height: 40px;
  padding: 0 !important;
  display: block !important;
  position: absolute !important;
  top: 0;
  @include text-align-center();
}

.ui-card-badge-holder-left {
  top: 4px;
  left: 8px;
  margin: 0px 20px 0px 0px;
}

.ui-card-badge-holder-right {
  top: 4px;
  right: 8px;
  margin: 0px 0px 0px 20px;
}

.ui-card-badge {
  margin: auto;
}

.ui-card-badge-small {
  margin: 6px 2px 0 0;
}

.ui-card-content {
  position: relative;
  font-size: $card-body-font-size;
  line-height: $card-body-line-height;
  padding: 0 $padding-small;

  & > .section-clickable {
    display: block;
    padding: 6px 0 0 0;
  }

  & > .section-dialog {
    overflow: hidden;
    width: 96%;
    background-color: rgba(0,0,0,0);
    padding: 0.5% 2%;
    margin: 0;
    text-align: left;
  }

  & > .section-actions {
    font-size: $card-body-actions-font-size;
    width: 100%;
    background-color: rgba(0,0,0,0);
    padding: 8px;
    box-sizing: border-box;
  }
}

.ui-card-icon {
  color: #979797;
  font-size: 20px !important;
  background: transparent !important;
}

.ui-card-actions {
  font-size: $card-body-actions-font-size;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.ui-card-menu {
  position: absolute;
  right: 16px;
  top: 16px;
}

.ui-card-list,
.ui-card-list-large {
  padding: 0 !important;
  margin: 0 !important;
  & > ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    & > li {
      list-style: none;
      line-height: 22px;
      font-size: 12px;
    }
  }
}

.ui-card-list-border {
  border-top: 1px solid $color-dark-alpha-1;
}

.ui-card-list-constrained {
  position: relative;
  //padding-bottom: $padding-small;
}

.ui-card-priority-button {
  padding: 0 !important;
  height: 20px;
  max-width: 300px;
  float: right;
}

.ui-card-overflow-anchor {
  display: block !important;
  position: absolute !important;
  bottom: 0;
  right: 0;
  padding: 0 !important;
  margin: 0 !important;
}

.ui-card-overflow-button {
  padding: 4px 10px 3px !important;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 300;
  @include shadow-removed();
  @include animate-default(0.2s);
  transition-property: all;
  & > ul {
    & > li {
      @include typo-lists-small;
    }
  }
  &:hover,
  &.open {
    background-color: $color-white;
    @include shadow-basic-dark();
  }
}

.ui-card-overflow-list {
  padding: 8px 0 !important;
  & > li {
    @include typo-lists-small;
  }
}

.ui-card-overflow-list-item {
  display: block;
  margin: 0;
  cursor: pointer;
  background-color: #fafafa;
  padding: 6px 30px 5px 20px !important;
  text-decoration: none;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  @include text-align-left();
}

.ui-card-list {
  & > ul {
    & > li {
      @include typo-lists-small;
    }
  }
}

.ui-card-list-medium {
  & > ul {
    & > li {
      @include typo-lists-medium;
    }
  }
}

.ui-card-list-large {
  & > ul {
    & > li {
      @include typo-lists-large;
    }
  }
}

.ui-card-divider {
  height: 1px;
  margin: $padding;
  background: $color-dark-alpha-1;
}

.ui-card-container-title {
  display: inline-block;
  height: 44px;
  line-height: 38px;
  margin-left: 70px;
  margin-right: 70px;
  @include typo-title-large;
}

.ui-card-container-subtitle {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-left: 70px;
  @include typo-subhead;
}

.ui-card-container-badge-holder-left,
.ui-card-container-badge-holder-right {
  height: 40px;
  padding: 8px 12px !important;
  display: block !important;
  position: absolute !important;
  top: 0;
  margin: 0;
  @include text-align-center();
}

.ui-card-container-badge-holder-left {
  left: 0;
}

.ui-card-container-badge-holder-right {
  right: 0;
}
