// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

.ui-emoji-baseball {
  width: 20px;
  height: 20px;
    &:before {
        content: "\9918";
    }
}
