// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.ui-no-spacing {
  padding: 0 !important;
  margin: 0 !important;
}


/**
 * Hidden Completely
 */

.ui-hidden {
  display: none !important;
}


/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */

.ui-hidden-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}


/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */

.ui-hidden-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-bordered {
  border: $border;
}

.ui-padded {
  padding: $padding;
}

.ui-underline {
  text-decoration: underline;
}

.ui-bold {
  font-weight: 600;
}

.ui-rounded {
  border-radius: 6px;
}

.ui-circular {
  border-radius: 50px;
}

.ui-shadow {
  @include shadow-basic();
}

.ui-raised {
  @include shadow-raised();
}

.ui-inset {
  @include shadow-inset();
}

.ui-well {
  min-height: 18px;
  padding: $padding-panels;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(200,200,200,.033);
  border: $border-hinted;
  @include shadow-well();
}

.ui-panel {
  background-color: #fff;
  border: $border-hinted;
  padding: $padding-panels;
  @include shadow-panel();
}

.ui-masked {
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ui-unavailable {
  opacity: 0.75;
}

.ui-reveal {
  &>.ui-reveal-default,
  &>.ui-reveal-hover {
    display: block;
    text-align: center;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }

  &>.ui-reveal-default,
  {
    transform: scale(1);
    opacity: 1;
    height: auto;
  }

  &>.ui-reveal-hover {
    transform: scale(1.5);
    opacity: 0;
    height: 0;
  }

  &:hover {
    &>.ui-reveal-default,
    {
      transform: scale(0.1);
      opacity: 0;
      height: 0;
      transition: all 0s;
      -webkit-transition: all 0s;
      -moz-transition: all 0s;
      -ms-transition: all 0s;
      -o-transition: all 0s;
    }

    &>.ui-reveal-hover {
      transform: scale(1);
      opacity: 1;
      height: auto;
    }
  }
}

.ui-grouped-border {
  @include bar-button-skin();
  &:hover {
    background-color: $color-blue-highlight;
  }
}

.ui-transparent {
  background-color: $color-invisible !important;
  border-color: $color-invisible !important;
  color: $color-black !important;
}

@include ui-color('grey',$color-grey);
@include ui-color('black',$color-black);
@include ui-color('white',$color-lighter);
@include ui-color('red',$color-red);
@include ui-color('orange',$color-orange,true);
@include ui-color('yellow',$color-yellow,true);
@include ui-color('green',$color-green);
@include ui-color('blue',$color-blue);
@include ui-color('indigo',$color-indigo);
@include ui-color('violet',$color-violet);
