// -----------------------------------------------------------------------------
  // Helpers
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group base
////


.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.ui-no-spacing {
  padding: 0 !important;
  margin: 0 !important;
}

.ui-hidden {
  display: none !important;
}

.ui-hidden-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.ui-hidden-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-bordered {
  border: $border;
}

.ui-padded {
  padding: $padding;
}

.ui-underline {
  text-decoration: underline;
}

.ui-bold {
  font-weight: 600;
}

.ui-rounded {
  border-radius: 6px;
}

.ui-circular {
  border-radius: 50px;
}

.ui-shadow {
  @include box-shadow();
}

.ui-raised {
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.33),
              1px 2px 6px -2px rgba(0,0,0,.5);
}

.ui-inset {
  box-shadow: inset 1px 2px 2px rgba(50, 50, 50, .15),
              inset -1px -2px 2px #ffffff;
}

.ui-well {
  min-height: 18px;
  padding: $padding-panels;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(200,200,200,.033);
  border: $border-hinted;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, .15),
              inset 0 -1px 0px rgba(255, 255, 255, .85);
}

.ui-panel {
  background-color: #fff;
  border: $border-hinted;
  padding: $padding-panels;
  @include box-shadow($shadow-panel);
}

.ui-masked {
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ui-unavailable {
  opacity: 0.75;
}

.ui-reveal {
  &>.ui-reveal-default,
  &>.ui-reveal-hover {
    display: block;
    text-align: center;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }

  &>.ui-reveal-default,
  {
    transform: scale(1);
    opacity: 1;
    height: auto;
  }

  &>.ui-reveal-hover {
    transform: scale(1.5);
    opacity: 0;
    height: 0;
  }

  &:hover {
    &>.ui-reveal-default,
    {
      transform: scale(0.1);
      opacity: 0;
      height: 0;
      transition: all 0s;
      -webkit-transition: all 0s;
      -moz-transition: all 0s;
      -ms-transition: all 0s;
      -o-transition: all 0s;
    }

    &>.ui-reveal-hover {
      transform: scale(1);
      opacity: 1;
      height: auto;
    }
  }
}

.ui-grouped-border {
  border-right-color: rgba(255,255,255,0.05);
  border-left-color: rgba(0,0,0,0.1);
  box-shadow: 0 0 1px 0px rgba(0,0,0,.2);
  &:hover {
    background-color: $color-blue-highlight;
  }
}

.ui-blurred {
  filter: blur(2.5px) grayscale(100);
}

.ui-transparent {
  background-color: $color-invisible !important;
  border-color: $color-invisible !important;
  color: $color-black !important;
}

.ui-success {
  background-color: rgba(0, 230, 40, 0.18) !important;
}
.ui-error {
  background-color: rgba(255,0,0,0.1) !important;
}

@include spawn-ui-colors();
