// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

.i-close {
    &:before {
        content: "\00d7";
    }
}
.i-sort-asc {
    &:before {
        content: "\2B07";
    }
}
.i-sort-desc {
    &:before {
        content: "\2B06";
    }
}
.i-user {
    &:before {
        content: "\1F464";
    }
}
.i-menu {
    &:before {
        content: "\2261";
    }
}