// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

.ui-icon {
  display: inline-block;
  font-style: normal;
}
.ui-icon-close {
    &:before {
        content: "\00d7";
    }
}
.ui-icon-calendar {
    &:before {
        content: "\1F5D3";
    }
}
.ui-icon-search {
    &:before {
        content: "\26B2";
    }
}
.ui-icon-up {
    &:before {
        content: "\25BC";
    }
}
.ui-icon-down {
    &:before {
        content: "\25B2";
    }
}
.ui-icon-right {
    &:before {
        content: "\25B6";
    }
}
.ui-icon-left {
    &:before {
        content: "\25C0";
    }
}
.ui-icon-user {
    &:before {
        content: "\1F464";
    }
}
.ui-icon-menu {
    &:before {
        content: "\2261";
    }
}
.ui-icon-star {
    &:before {
        content: "\2605";
    }
}
