// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

html, body {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}
hr {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  @include typo-display-3($colorContrast: true);

  font-size: 0.6em;
}
h1 {
  @include typo-display-3;
}
h2 {
  @include typo-display-2;
}
h3 {
  @include typo-display-1;
}
h4 {
  @include typo-headline;
}
h5 {
  @include typo-title;
}
h6 {
  @include typo-subhead;
}

p {
  @include typo-body-1;

  margin: 0px 0px 16px;
  
  &.preface {
    border-bottom: $common-border;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

a {
  font-weight: 500;
  text-decoration: none !important;
  //outline: none !important;
}

blockquote {
  @include typo-blockquote;
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

address {
  @include typo-caption;

  font-style: normal;
}

ul, ol {
  @include typo-lists;
  margin: 2px 0 6px;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  &:focus {
    border: 1px solid rgba(0,0,0,0.35);
  }
}

fieldset {
  max-width: 100%;
  display: block;
  justify-content: space-around;
  border: none;
  padding: 2px;
  padding-bottom: 16px;
}

label,
legend {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: $input-padding;
  @include text-align-left();
}

label {
  height: $input-size / 2;
  font-size: $input-font-size;
  line-height: $input-size / 4;
}

legend {
  height: $input-size;
  font-size: $input-font-size + 2;
  font-weight: 700;
  width: 100%;
  line-height: $input-size;
}
