// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

.window {
	background-color: $background-color;
	border: 0;
	display: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	overflow: hidden;
	&.overlay {
		position: absolute !important;
		background-color: rgba(40,40,40,0.7) !important;
	}
	&.open {
		display: block;
	}
}

.pane {
	width: 30vw;
	min-width: 300px !important;
	height: auto !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 30vh !important;
	padding: 20px 50px 40px 50px !important;
}

