/***
 *    ██████╗ ██████╗  █████╗ ██╗    ██╗███████╗██████╗
 *    ██╔══██╗██╔══██╗██╔══██╗██║    ██║██╔════╝██╔══██╗
 *    ██║  ██║██████╔╝███████║██║ █╗ ██║█████╗  ██████╔╝
 *    ██║  ██║██╔══██╗██╔══██║██║███╗██║██╔══╝  ██╔══██╗
 *    ██████╔╝██║  ██║██║  ██║╚███╔███╔╝███████╗██║  ██║
 *    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝ ╚══╝╚══╝ ╚══════╝╚═╝  ╚═╝
 *
 */
// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.drawer,
.drawer-flyout {
    padding: 0px;
    margin: 0px;
}

.drawer {
    z-index: 70;
    overflow: hidden;
    @include no-shadow();
    @include animate-default(0.2s);
    transition-property: all;

    &.ui-orientation-vertical {
      width: 0px;
      max-width: $nav-size;
      height: 100%;
      & > .drawer-flyout {
        height: 100%;
      }
    }

    &.active.ui-orientation-vertical {
      width: $nav-size !important;
      min-width: $nav-size !important;
      max-width: $nav-size !important;
      overflow-x: hidden !important;
      overflow-y: auto !important;
      @include shadow-drawer();
    }

    &.minimized.ui-orientation-vertical {
      width: $outer-frame-width !important;
      min-width: $outer-frame-width !important;
      max-width: $outer-frame-width !important;
      overflow-x: hidden !important;
      overflow-y: auto !important;
      @include shadow-drawer();
    }

    &.ui-orientation-horizontal {
      width: 100%;
      height: 0px;
      max-height: $nav-size;
      & > .drawer-flyout {
        width: 100%;
      }
    }

    &.active.ui-orientation-horizontal {
      height: $nav-size !important;
      min-height: $nav-size !important;
      max-height: $nav-size !important;
      overflow-x: auto !important;
      overflow-y: hidden !important;
      @include shadow-drawer();
    }

    &.minimized.ui-orientation-horizontal {
      height: $outer-frame-width !important;
      min-height: $outer-frame-width !important;
      max-height: $outer-frame-width !important;
      overflow-x: auto !important;
      overflow-y: hidden !important;
      @include shadow-drawer();
    }

    &.minimized > .drawer-content {
      background-color: $color-darker-grey;
    }
}

.drawer-content {
  display: block;
  width: 100%;
  height: 100%;
  color: $color-white;
  background-color: $color-darkest-grey;
  @include animate-default(0.2s);
  transition-property: all;
}

.drawer-flyout {
  display: block;
  width: 100%;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  color: $color-white;
  background-color: $color-darkest-grey;
}

.drawer-collapsed {
  width: 0px !important;
  overflow: hidden !important;
  @include no-shadow();
}

.drawer-flyout-collapsed {
  width: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
  @include no-shadow();
}
