// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.ui-selectbox {
  //width: 84%;
  //padding: $selectbox-padding !important;
  padding: 0;
  & > .dropdown-content {
    width: 100%;
  }
}

.ui-selectbox-caret {
  display: inline-block;
  height: $input-size;
  width: $input-size;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent !important;
  font-size: 14px;
  line-height: $input-size;
  @include text-align-center();
  cursor: pointer;
  z-index: 1;
  &:before {
    content: "\f0d7";
  }
  &:hover,&:focus,&:active {
    background-color: transparent !important;
  }
}

.dropdown {
  &.open {
    & > .dropdown-toggle {
      & > .ui-selectbox-caret:before {
        content: "\f0d8";
      }
    }
  }
}

.ui-selectbox-dropdown {
  display: block;
  position: absolute;
  top: $input-size;
  right: 0;
  background-color: white;
  border: none;
  min-width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 69;

  @include shadow-removed();
  @include animate-default(0.2s);
  transition-property: height, border-shadow;

  &.open {
    height: auto !important;
    max-height: 300px !important;
    overflow-y: auto !important;
    @include shadow-border();
  }
}

.ui-selectbox-dropdown-item {
  display: block;
  margin: 0;
  padding: $dropdown-padding;
  text-decoration: none;
  border-bottom: $gentle-border;
  cursor: pointer;
  @include text-align-left();

  & > strong {
    font-weight: 700 !important;
  }

  &:hover, &:focus, &.dropdown-item-selected {
    background-color: $color-dark-alpha-2;
  }

  &.disabled {
    &:hover, &:focus, &.dropdown-item-selected {
      background-color: transparent !important;
    }
  }
}