// -----------------------------------------------------------------------------
  // Icon
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

.ui-icon {
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
}
