/***
 *    ███████╗_██████╗__██████╗_████████╗███████╗██████╗_
 *    ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
 *    █████╗__██║___██║██║___██║___██║___█████╗__██████╔╝
 *    ██╔══╝__██║___██║██║___██║___██║___██╔══╝__██╔══██╗
 *    ██║_____╚██████╔╝╚██████╔╝___██║___███████╗██║__██║
 *    ╚═╝______╚═════╝__╚═════╝____╚═╝___╚══════╝╚═╝__╚═╝
 *    ___________________________________________________
 */
// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

.ui-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  height: auto;
  background-color: $color-secondary-dark;
  color: $text-color-secondary;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  @include shadow-3dp();
  @include animate-default();
  transition-property: $layout-transition-properties;

  @media screen and (max-width: $screen-size-threshold) {
    min-height: $footer-height;
  }

  &.ui-fixed {
    bottom: 0;
    left: 0;
    z-index: 77;
  }
}

.ui-footer-content {
  height: $footer-height;
  z-index: 8;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.ui-footer-logo {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  height: 100%;
  cursor: pointer;
  border: none;
  & > img {
    padding: 0;
    height: 100%;
  }
}

.ui-footer-item,
.ui-footer-text,
.ui-footer-button {
  display: inline-block;
  position: relative;
  justify-content: space-between;
  margin: 0;
  border-radius: 0;
  font-size: $footer-font-size;
  line-height: 1;
  color: $color-white;
  background-color: transparent;
  @include text-horizontal-align-center();
  @include bar-button-skin();
  & > .fa {
    font-size: $footer-icon-font-size !important;
    padding: $footer-icon-padding !important;
  }
}

.ui-footer-item,
.ui-footer-text {
  cursor: pointer;
  border: none;
}

.ui-footer-item {
  padding: $footer-item-padding;
}

.ui-footer-text {
  padding: $footer-text-padding;
}

.ui-footer-button {
  padding: $footer-button-padding;
  &:hover {
    background-color: rgba(33, 150, 243, 0.5);
  }
}

.ui-footer-list {
  display: inline-block;
  padding: $footer-list-padding;
  margin: $footer-list-margin;
  list-style-type: none;
  line-height: 1;
  letter-spacing: 1px;
  font-size: $footer-font-size;
  @include text-align-right();
}

.ui-footer-icon {
  display: inline-block;
  font-size: $footer-icon-font-size;
  padding: $footer-icon-padding;
}

.ui-footer-bolster {
  width: 100%;
  height: $footer-height;
  margin: 0;
  padding: 0;
}

.ui-footer-drawer,
.ui-footer-drawer-flyout {
    padding: 0px;
    margin: 0px;
}

.ui-footer-drawer {
    z-index: 70;
    overflow: hidden;
    @include no-shadow();
    @include animate-default(0.2s);
    transition-property: all;
    width: 100%;
    height: 0px;
    max-height: $nav-size;
    & > .ui-footer-drawer-flyout {
      width: 100%;
    }

    &.active {
      height: $nav-size !important;
      min-height: $nav-size !important;
      max-height: $nav-size !important;
      overflow-x: auto !important;
      overflow-y: hidden !important;
      @include shadow-drawer();
    }

    &.minimized {
      height: $outer-frame-size !important;
      min-height: $outer-frame-size !important;
      max-height: $outer-frame-size !important;
      overflow-x: auto !important;
      overflow-y: hidden !important;
      @include shadow-drawer();
    }

    &.minimized > .ui-footer-drawer-content {
      background-color: $color-darker-grey;
    }

    & > .drawer-toggle-button {
      height: 100% !important;
      width: 70px !important;
      color: $color-white !important;
      background-color: transparent;
      display: inline-block;
      padding: 2px !important;
      font-size: $toggle-size !important;
      border: none !important;
      border-radius: 0 !important;
      @include text-align-center();
      @include shadow-removed();
      &:hover {
        background-color: rgba(33, 150, 243, 0.5);
      }
    }
}

.ui-footer-drawer-content {
  display: block;
  width: 100%;
  height: 100%;
  color: $color-white;
  background-color: $color-darkest-grey;
  @include animate-default(0.2s);
  transition-property: all;
}

.ui-footer-drawer-flyout {
  display: block;
  width: 100%;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  color: $color-white;
  background-color: $color-darkest-grey;
}

.ui-footer-drawer-collapsed {
  width: 0px !important;
  overflow: hidden !important;
  @include no-shadow();
}

.ui-footer-drawer-flyout-collapsed {
  width: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
  @include no-shadow();
}
