/***
 *    ███████╗_██████╗__██████╗_████████╗███████╗██████╗_
 *    ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
 *    █████╗__██║___██║██║___██║___██║___█████╗__██████╔╝
 *    ██╔══╝__██║___██║██║___██║___██║___██╔══╝__██╔══██╗
 *    ██║_____╚██████╔╝╚██████╔╝___██║___███████╗██║__██║
 *    ╚═╝______╚═════╝__╚═════╝____╚═╝___╚══════╝╚═╝__╚═╝
 *    ___________________________________________________
 */
// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

 @import 'config';


.ui-footer {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  color: $color-light;
  background-color: $color-darker;
  font-size: 0.82em;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-basis: 100%;
  box-shadow: inset 0 3px 4px -1px #262626;

  &.ui-fixed {
    position: absolute !important;
    left: 0;
    bottom: 0;
    z-index: 199;
  }
}

.ui-footer-bolster {
  width: 100%;
  height: $footer-height;
  display: inline-block;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0px;
  padding: 0px;
}
