// -----------------------------------------------------------------------------
  // Modal
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES
$modal-background-color: $color-lighter !default;
$modal-background-color-disabled: $color-light;
$modal-text-color: rgba(0,0,0,0.5) !default;
$modal-text-color-disabled: $color-ultra-light;
$modal-action-background-color: $color-ultra-light !default;
$modal-action-active-background-color: rgba(0,0,0,0.2) !default;
$modal-action-text-color: rgba(0,0,0,0.5) !default;
$modal-action-active-text-color: rgba(255,255,255,0.8) !default;
$modal-min-width: 32px !default;
$modal-height: 29px !default;
$modal-margin: 0px 0px 0px ($padding-large / 2) !default;
$modal-padding-calc: ($modal-height / 4);
$modal-padding: 0px $modal-padding-calc 0px $modal-padding-calc !default;
$modal-line-height: $modal-height;
$modal-action-size: 24px !default;

.ui-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 79;
  padding: 0;
  margin: 0;
  display: none;
  overflow: hidden;
  background-color: none;
  &.ui--shown {
    display: block !important;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.5);
    margin: 0 !important;
  }
}

.ui-modal-outer-wrapper {
  height: 100%;
  width: 100%;
  padding: 6em 6em 8em;
  margin: 0;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  overflow-x: hidden;
  overflow-y: auto;
  @media screen and (max-width: $mobile-screen-threshold) {
    padding: 2em 1em;
  }
}

.ui-modal-inner-wrapper {
  position: relative;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 0;
  margin: 0;
}

.ui-modal-dialog {
  position: relative;
  display: block;
  height: fit-content;
  width: fit-content;
  min-width: 300px;
  padding: 0.4em;
  margin: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.ui-modal-header {
  display: block;
  text-align: left;
  padding: 0.2em 0.33em 0.575em;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: 0.5px;
}

.ui-modal-content {
  display: block;
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.4px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ui-modal-footer {
  display: block;
  text-align: right;
  padding: 0.575em 0.6em 0;
  font-size: 14px;
}

.ui-modal-close {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 4px;
  height: $modal-action-size;
  width: $modal-action-size;
  font-size: ($modal-action-size - 4);
  font-weight: 300;
  line-height: $modal-action-size;
  border: none;
  border-radius: 20px;
  color: $modal-action-text-color;
  background-color: $modal-action-background-color;
  cursor: pointer;
  @include button-inset-skin();
  @include text-align-center();

  & > .ui-icon {
    padding-left: 0.08em;
  }

  &:hover,
  &:focus,
  &:active {
    border: none;
  }

  &:hover,
  &:active {
    color: $modal-action-active-text-color;
    background-color: $modal-action-active-background-color;
  }
}
