// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

@import "config";

.ui-toasts {
  border: none;
  display: block;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include text-align-center();
  z-index: 199;
}

.ui-toasts-toast {
  width: 100%;
  height: 0px;
  line-height: 0px;
  padding: 0px;
  display: block;
  position: relative;
  box-sizing: border-box;
  background: #262626;
  border-bottom: none;
  @include text-align-center();
  @include animate-default(0.2s);
  overflow: hidden;
  transition-property: height, padding, line-height;
  &.active {
    height: $toasts-height;
    line-height: $toasts-height;
    padding: $toasts-padding;
    border-bottom: 1px solid #1f1f1f;
  }
}

.ui-toasts-toast-msg {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  line-height: $toasts-height;
  color: #ffffff;
  -webkit-animation: bounceInLeft 0.66s ease-in-out;
          animation: bounceInLeft 0.66s ease-in-out;
}

.ui-toasts-toast-icon,
.ui-toasts-toast-close {
  display: inline-block;
  position: absolute;
  font-weight: 600;
  top: 0;
  color: #ffffff;
}

.ui-toasts-toast-icon {
  left: 12px;
  font-size: 1.4em;
  line-height: 1.4em;
  -webkit-animation: bounceInLeft 0.77s ease-in-out;
          animation: bounceInLeft 0.77s ease-in-out;
}

.ui-toasts-toast-close {
  right: 12px;
  font-size: 1em;
  line-height: $toasts-height;
  cursor: pointer;
  -webkit-animation: bounceInRight 0.77s ease-in-out;
          animation: bounceInRight 0.77s ease-in-out;
  &:hover {
    color: rgba(0,0,0,.33);
  }
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0.2;
    -webkit-transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0.2;
    -webkit-transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
