.ui-accordion {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
  text-align: -webkit-start;
  text-align: left;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-align-content: left;
      -ms-flex-line-pack: left;
          align-content: left; }

.ui-accordion-title {
  position: relative;
  border-bottom: none;
  padding: 0.66em 0;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  -moz-osx-font-smoothing: greyscale;
  font-family: "Helvetica", "Arial", sans-serif;
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0, 0.1, 0.4, 1), color 0.2s cubic-bezier(0, 0.1, 0.4, 1);
  cursor: pointer; }
  .ui-accordion-title > .fa {
    line-height: 32px; }

.ui-accordion-content {
  height: 0px;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0.1, 0.4, 1);
  transition-property: height, padding, box-shadow; }
  .ui-accordion-content.active {
    height: auto;
    padding: 0.8em;
    margin: 0; }

.ui-accordion-caret {
  height: 26px;
  font-style: normal;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -13px;
  font-size: 26px; }
