.ui-breadcrumbs {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-family: inherit; }

.ui-breadcrumbs-shim {
  display: block;
  width: 100%;
  padding: 0 0 50px; }

.ui-breadcrumb,
.ui-breadcrumb-right,
.ui-breadcrumb-divider {
  display: inline-block;
  font-weight: 700;
  box-sizing: border-box;
  height: 100%; }

.ui-breadcrumb,
.ui-breadcrumb-right {
  padding: 0px 0.1em;
  font-size: 12px;
  opacity: 0.7; }
  .ui-breadcrumb:hover, .ui-breadcrumb:focus, .ui-breadcrumb:active,
  .ui-breadcrumb-right:hover,
  .ui-breadcrumb-right:focus,
  .ui-breadcrumb-right:active {
    opacity: 1; }

.ui-breadcrumb {
  color: #3F4348;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: -webkit-start;
  text-align: left;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-align-content: left;
      -ms-flex-line-pack: left;
          align-content: left; }

.ui-breadcrumb-right {
  position: absolute;
  top: 0;
  left: 75%;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: -webkit-end;
  text-align: right;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  -webkit-align-items: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-align-content: right;
      -ms-flex-line-pack: right;
          align-content: right;
  margin-right: 90px; }

.ui-breadcrumb-divider {
  padding: 0px 0.1em;
  font-size: 16px;
  opacity: 0.25; }

.ui-breadcrumb-active {
  opacity: 0.5; }
