.ui-button {
  min-width: 32px;
  height: 36px;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.033);
  position: relative;
  padding: 10px 24px 14px;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  overflow: visible;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  text-align: -webkit-center;
  text-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  text-align: -webkit-center;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0.1, 0.4, 1);
  transition-property: color, background-color, box-shadow; }
  .ui-button.ui-shadow {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px -1px rgba(0, 0, 0, 0.2); }
  .ui-button:hover, .ui-button:focus, .ui-button:active {
    border: none; }
  .ui-button:hover, .ui-button:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.3); }
  .ui-button.ui--disabled {
    color: #F5F8FB !important;
    background-color: #CFD3D8 !important; }
    .ui-button.ui--disabled:hover, .ui-button.ui--disabled:focus, .ui-button.ui--disabled:active {
      color: #F5F8FB !important;
      background-color: #CFD3D8 !important; }
  .ui-button.header {
    font-size: 22px !important;
    font-weight: 700 !important;
    width: 100% !important;
    height: 44px !important; }
  .ui-button > .ui-icon,
  .ui-button > [class^="ui-icon-"],
  .ui-button > [class*="ui-icon-"] {
    font-size: 1.4em;
    line-height: 0.8em; }
  .ui-button > i {
    color: inherit !important; }

.text-button {
  padding: 6px 24px;
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  font-size: 1em;
  font-weight: 500;
  line-height: 2 !important;
  letter-spacing: 0.04em;
  text-align: -webkit-center;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0.1, 0.4, 1);
  transition-property: color, background-color, box-shadow; }
  .text-button::-moz-focus-inner {
    border: none !important; }
  .text-button:hover, .text-button:active {
    background-color: transparent !important; }
