.ui-drawer {
  display: block;
  z-index: 50;
  padding: 0;
  margin: 0;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  color: inherit;
  background-color: inherit;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0.1, 0.4, 1);
  transition-property: all; }
  .ui-drawer:not(.ui--vertical) {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .ui-drawer:not(.ui--vertical):not(.ui--collapsed) > .ui-content {
      min-width: 100%;
      max-width: 100%; }
  .ui-drawer.ui--vertical {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .ui-drawer.ui--vertical:not(.ui--collapsed) > .ui-content {
      min-height: 100%;
      max-height: 100%; }
  .ui-drawer.ui--collapsed > .ui-content {
    width: 0px;
    min-width: 0px;
    max-width: 0px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    padding: 0; }
  .ui-drawer > .ui-content {
    display: block;
    overflow: hidden;
    color: inherit;
    background-color: inherit;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0.1, 0.4, 1);
    transition-property: all;
    padding: 2.5em; }
  .ui-drawer.ui--styled {
    color: #EFF3F8;
    background-color: #1F2328; }
    .ui-drawer.ui--styled > .ui-content {
      box-shadow: inset -.2em 2.2em .5em #000; }

.ui-drawer-toggle {
  display: inline-block;
  text-align: -webkit-start;
  text-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-align-content: start;
      -ms-flex-line-pack: start;
          align-content: start; }
  .ui-drawer-toggle:hover {
    background-color: rgba(25, 118, 210, 0.5); }

.ui-drawer-toggle-button {
  width: 40px;
  height: 40px;
  color: #2F3338;
  background-color: transparent;
  padding: 2px;
  font-size: 28px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none !important; }
  .ui-drawer-toggle-button:hover, .ui-drawer-toggle-button:focus, .ui-drawer-toggle-button:active {
    background-color: transparent;
    border: none;
    outline: none !important; }
