/**
 * NEUTRALS
 */
/**
 * NEUTRALS CONTRAST
 */
/**
 * ROYGBIV
 */
/**
 * ROYGBIV ACTIVE
 */
/**
 * ROYGBIV DARKENED
 */
/**
 * ROYGBIV CONTRAST ACTIVE
 */
/**
 * ROYGBIV CONTRAST
 */
/**
 * ROYGBIV CONTRAST DARKENED
 */
/**
 * ONWARD
 */
/**
*  MISC
*/
.ui-toolbar {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0.1, 0.4, 1);
  transition-property: display, width, height, margin, padding; }

.ui-toolbar-content {
  z-index: 8;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0;
  text-align: -webkit-center;
  text-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.ui-toolbar-title {
  display: inline-block;
  padding: 10px 6px;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  border: none;
  color: inherit;
  background-color: transparent; }

.ui-toolbar-item,
.ui-toolbar-text,
.ui-toolbar-button,
.ui-toolbar-icon {
  display: inline-block;
  position: relative;
  height: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  border-radius: 0;
  font-size: 14px;
  color: inherit;
  background-color: transparent;
  text-align: -webkit-center;
  text-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .ui-toolbar-item > .fa,
  .ui-toolbar-item > .devicon,
  .ui-toolbar-text > .fa,
  .ui-toolbar-text > .devicon,
  .ui-toolbar-button > .fa,
  .ui-toolbar-button > .devicon,
  .ui-toolbar-icon > .fa,
  .ui-toolbar-icon > .devicon {
    display: inline-block;
    font-size: 20px !important;
    padding: 6px !important; }

.ui-toolbar-button {
  line-height: 1;
  border-left: 1px solid rgba(215, 215, 215, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.05); }

.ui-toolbar-item,
.ui-toolbar-text {
  cursor: pointer;
  border: none;
  line-height: 1; }

.ui-toolbar-item {
  padding: 10px 12px; }

.ui-toolbar-text {
  padding: 12px 5px; }

.ui-toolbar-button {
  padding: 5px; }

.ui-toolbar-logo {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  height: 100%;
  cursor: pointer;
  border: none; }
  .ui-toolbar-logo > img {
    padding: 0;
    height: 100%; }

.ui-toolbar-list {
  display: inline-block;
  padding: 0px 12px;
  margin: 0;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 1;
  list-style-type: none;
  text-align: -webkit-end;
  text-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-align-content: end;
      -ms-flex-line-pack: end;
          align-content: end; }
order-expand {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 100%; } }

@keyframes border-expand {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 100%; } }
ay: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  max-width: 100%;
  padding: 3px 0px; }

.table-filter-input-wrapper {
  display: inline-block;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding: 0px 4px;
  margin-left: auto;
  margin-right: auto; }

.table-filter-button-wrapper {
  display: inline-block;
  width: 44px;
  padding-right: 4px; }

.table-filter-input {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 28px;
  background-color: white;
  padding: 0;
  line-height: 1; }

.table-filter-button {
  display: inline-block;
  position: relative;
  width: 40px !important;
  height: 28px;
  color: white;
  background: #575c63 !important;
  padding: 0 !important;
  line-height: 1; }
  .table-filter-button:hover, .table-filter-button:focus:not(:active), .table-filter-button:active {
    background: #6f767e !important; }

@media (min-width: 40em) {
  .ui-table {
    font-size: 13px; } }
 181px; }

.ui-nav-folder-item-icon {
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  font-size: 20px !important;
  line-height: 28px !important;
  text-align: center;
  vertical-align: middle;
  -webkit-flex-basis: 36px;
      -ms-flex-preferred-size: 36px;
          flex-basis: 36px; }

.ui-nav-item:hover, .ui-nav-item:focus,
.ui-nav-folder-item:hover,
.ui-nav-folder-item:focus {
  color: #EFF3F8;
  background-color: rgba(25, 118, 210, 0.5); }

.ui-nav-toggle {
  display: inline-block;
  color: inherit;
  text-align: -webkit-start;
  text-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-align-content: start;
      -ms-flex-line-pack: start;
          align-content: start; }
  @media screen and (max-width: 1024px) {
    .ui-nav-toggle {
      display: block !important; } }

.ui-nav-toggle-button {
  width: 40px;
  height: 40px;
  color: inherit;
  background-color: transparent;
  padding: 2px;
  font-size: 28px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none !important; }
  .ui-nav-toggle-button:hover, .ui-nav-toggle-button:focus, .ui-nav-toggle-button:active {
    background-color: transparent;
    border: none;
    outline: none !important; }
nput-url > select,
  .ui-input-email > input,
  .ui-input-email > select,
  .ui-input-color > input,
  .ui-input-color > select {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    background: none !important;
    border: none !important; }

/* INPUT TYPE: TEXTAREA */
.ui-input-textarea {
  width: 100%;
  max-width: 100%;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3); }
  .ui-input-textarea > textarea {
    width: 100%;
    height: 100%;
    min-height: 36px;
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    overflow: auto;
    resize: vertical; }

/* INPUT TYPE: NUMBER */
.ui-input-number {
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3); }
  .ui-input-number > input {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 22px;
    background-color: transparent !important;
    background: none !important;
    border-radius: 0 !important;
    border: none !important; }

.ui-input-number-up,
.ui-input-number-down {
  position: absolute;
  display: inline-block;
  right: -20px;
  height: 17px;
  width: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 1;
  background-color: white;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .ui-input-number-up:hover,
  .ui-input-number-down:hover {
    border-left: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.2); }

.ui-input-number-up {
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0 3px 0 0; }
  .ui-input-number-up:hover {
    border-bottom: rgba(0, 0, 0, 0.4); }

.ui-input-number-down {
  bottom: 0;
  border-radius: 0 0 3px 0; }

/* INPUT TYPE: DATE */
/* INPUT TYPE: TIME */
/* INPUT TYPE: FILE */
.ui-input-file > label {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-indent: 6px;
  border-radius: 0 !important;
  border: none !important;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.05em;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  line-height: 34px;
  cursor: pointer;
  text-indent: 42px; }
  .ui-input-file > label:before {
    content: "\1F5B3";
    font-size: 32px;
    display: inline-block;
    position: absolute;
    left: -38px;
    bottom: 0px; }
  .ui-input-file > label:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .ui-input-file > label > input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }

/* INPUT TYPE: CHECKBOX & RADIO */
.ui-input-checkbox,
.ui-input-radio {
  margin: 10px; }
  .ui-input-checkbox > label,
  .ui-input-radio > label {
    line-height: 1;
    font-size: 18px; }
    .ui-input-checkbox > label > input,
    .ui-input-radio > label > input {
      width: 20px;
      height: 20px; }

/* INPUT TYPE: RADIO */
/* INPUT TYPE: URL */
