/**
*  MISC
*/
.ui-tooltip,
.ui-tooltip-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 1024px) {
    .ui-tooltip,
    .ui-tooltip-hover {
      display: none; } }

.ui-tooltip-hover:hover > .ui-tooltip-wrapper > .ui-tooltip-widget {
  width: auto;
  height: auto; }

.ui-tooltip-wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.ui-tooltip-widget {
  position: fixed;
  overflow: hidden;
  width: 0px;
  height: 0px;
  z-index: 999;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0.1, 0.4, 1);
  transition-property: all; }
  .ui-tooltip-widget.open {
    width: auto;
    height: auto;
    overflow: visible; }

.ui-tooltip-content {
  min-height: 20px;
  min-width: 120px;
  position: relative;
  background: #262626;
  border: 1px solid #1f1f1f;
  color: #efefef;
  font-weight: 300;
  text-align: left;
  border-radius: 0;
  padding: 8px;
  line-height: 16px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07), 0px 3px 8px -3px rgba(0, 0, 0, 0.3); }
  .ui-tooltip-content:before, .ui-tooltip-content:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .ui-tooltip-content:before {
    border-width: 10px; }
  .ui-tooltip-content:after {
    border-width: 8px; }

.ui-tooltip-left {
  top: 50%;
  right: 100%;
  margin-right: 10px;
  margin-top: -18px; }
  .ui-tooltip-left > .ui-tooltip-content:before {
    border-left-color: #1f1f1f;
    left: 100%;
    top: 48px;
    margin-top: -42px; }
  .ui-tooltip-left > .ui-tooltip-content:after {
    border-left-color: #262626;
    left: 100%;
    top: 50px;
    margin-top: -40px; }

.ui-tooltip-right {
  top: 50%;
  left: 100%;
  margin-left: 10px;
  margin-top: -18px; }
  .ui-tooltip-right > .ui-tooltip-content:before {
    border-right-color: #1f1f1f;
    right: 100%;
    top: 48px;
    margin-top: -42px; }
  .ui-tooltip-right > .ui-tooltip-content:after {
    border-right-color: #262626;
    right: 100%;
    top: 50px;
    margin-top: -40px; }

.ui-tooltip-top {
  left: 50%;
  bottom: 100%;
  margin-bottom: 10px; }
  .ui-tooltip-top > .ui-tooltip-content:before {
    border-top-color: #1f1f1f;
    top: 100%;
    left: 48px;
    margin-left: -42px; }
  .ui-tooltip-top > .ui-tooltip-content:after {
    border-top-color: #262626;
    top: 100%;
    left: 50px;
    margin-left: -40px; }

.ui-tooltip-bottom {
  left: 50%;
  top: 100%;
  margin-top: 10px; }
  .ui-tooltip-bottom > .ui-tooltip-content:before {
    border-bottom-color: #1f1f1f;
    bottom: 100%;
    left: 48px;
    margin-left: -42px; }
  .ui-tooltip-bottom > .ui-tooltip-content:after {
    border-bottom-color: #262626;
    bottom: 100%;
    left: 50px;
    margin-left: -40px; }
cursor: pointer;
  border: none; }
  .ui-toolbar-logo > img {
    padding: 0;
    height: 100%; }

.ui-toolbar-list {
  display: inline-block;
  padding: 0px 12px;
  margin: 0;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 1;
  list-style-type: none;
  text-align: -webkit-end;
  text-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-align-content: end;
      -ms-flex-line-pack: end;
          align-content: end; }
