.ui-nav {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
  color: inherit;
  background-color: inherit;
  display: block;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: start;
      -ms-flex-line-pack: start;
          align-content: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  justify-items: start;
  text-align: left; }
  .ui-nav > nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: inherit;
        -ms-flex-wrap: inherit;
            flex-wrap: inherit;
    -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    -webkit-align-content: inherit;
        -ms-flex-line-pack: inherit;
            align-content: inherit;
    -webkit-align-items: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    -webkit-justify-content: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    justify-items: inherit;
    text-align: inherit;
    -webkit-flex-basis: inherit;
        -ms-flex-preferred-size: inherit;
            flex-basis: inherit; }
  .ui-nav.ui-orientation-vertical {
    height: auto; }
    .ui-nav.ui-orientation-vertical > nav {
      width: auto;
      height: inherit;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .ui-nav.ui-orientation-vertical > nav > .ui-nav-item {
        display: block; }
    .ui-nav.ui-orientation-vertical.ui--collapsed > nav {
      overflow: hidden;
      width: 0px !important; }
  .ui-nav.ui-orientation-horizontal {
    height: 40px; }
    .ui-nav.ui-orientation-horizontal > nav {
      width: inherit;
      height: auto;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .ui-nav.ui-orientation-horizontal > nav > .ui-nav-item {
        display: inline-block;
        text-align: center; }
    .ui-nav.ui-orientation-horizontal.ui--collapsed > nav {
      overflow: hidden;
      height: 0px !important; }
    @media screen and (max-width: 1024px) {
      .ui-nav.ui-orientation-horizontal {
        height: auto;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-flex-direction: column !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important; } }

.ui-nav-widget,
.ui-nav-item {
  position: relative;
  text-align: inherit;
  height: 40px;
  width: auto;
  margin: 0;
  padding: 0px 12px;
  color: inherit;
  background-color: transparent;
  border: none;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0.1, 0.4, 1);
  transition-property: all;
  -webkit-flex-basis: inherit;
      -ms-flex-preferred-size: inherit;
          flex-basis: inherit; }
  @media screen and (max-width: 1024px) {
    .ui-nav-widget,
    .ui-nav-item {
      display: block !important; } }
  .ui-nav-widget:after,
  .ui-nav-item:after {
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }

.ui-nav-widget:hover, .ui-nav-widget:focus {
  color: inherit !important;
  background-color: transparent !important; }

.ui-nav-item {
  cursor: pointer; }
  .ui-nav-item:hover, .ui-nav-item:focus {
    color: #EFF3F8;
    background-color: rgba(25, 118, 210, 0.5); }
    .ui-nav-item:hover > .ui-nav-folder, .ui-nav-item:focus > .ui-nav-folder {
      width: auto;
      height: auto;
      border: 1px solid rgba(0, 0, 0, 0.3);
      overflow-y: auto;
      box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.3), 2px 2px 2px 0px rgba(0, 0, 0, 0.2); }
      .ui-nav-item:hover > .ui-nav-folder > .ui-nav-item, .ui-nav-item:focus > .ui-nav-folder > .ui-nav-item {
        height: 40px; }
    .ui-nav-item:hover > .ui-nav-caret:before, .ui-nav-item:focus > .ui-nav-caret:before {
      content: "\2212"; }
  .ui-nav-item > .ui-nav-icon {
    line-height: 1.4em; }

.ui-nav-folder {
  z-index: 99;
  display: block;
  width: 0px;
  max-width: 225px;
  height: 0px;
  max-height: 337.5px;
  font-size: 0.8em;
  list-style-type: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: none;
  color: #3F4348;
  background-color: #F8F8F8;
  box-shadow: none;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0, 0.1, 0.4, 1);
  transition-property: all;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  font-weight: 600;
  text-align: start; }
  .ui-nav-folder.ui--open {
    width: auto;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.3), 2px 2px 2px 0px rgba(0, 0, 0, 0.2); }
    .ui-nav-folder.ui--open > .ui-nav-item,
    .ui-nav-folder.ui--open > .ui-nav-folder-item {
      height: 40px; }
  .ui-nav-folder > .ui-nav-item {
    height: 0px;
    min-width: 185px;
    padding: 0; }
    .ui-nav-folder > .ui-nav-item > .ui-nav-content {
      width: auto; }
  .ui-nav-folder > .ui-nav-title {
    width: 100%;
    padding: 12px 0 6px 12px;
    background-color: rgba(0, 0, 0, 0.2); }

.ui-nav-content {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
  text-align: start;
  text-overflow: ellipsis;
  line-height: 1;
  margin: 0;
  padding: 0 4px;
  border: none;
  font-size: 1em;
  line-height: 40px;
  font-weight: inherit;
  color: inherit;
  background-color: transparent; }
  .ui-nav-content:hover, .ui-nav-content:focus {
    color: inherit !important;
    background-color: transparent !important; }

.ui-nav-icon {
  display: inline-block;
  max-width: 40px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  -webkit-flex-basis: 40px;
      -ms-flex-preferred-size: 40px;
          flex-basis: 40px; }

.ui-nav-caret:before {
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
  padding: 0px 4px;
  content: "\002B"; }

.ui-nav-title {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none; }

.ui-nav-toggle {
  display: inline-block;
  color: inherit;
  text-align: -webkit-start;
  text-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-align-content: start;
      -ms-flex-line-pack: start;
          align-content: start; }
  @media screen and (max-width: 1024px) {
    .ui-nav-toggle {
      display: block !important; } }

.ui-nav-toggle-button {
  width: 40px;
  height: 40px;
  color: inherit;
  background-color: transparent;
  padding: 2px;
  font-size: 28px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none !important; }
  .ui-nav-toggle-button:hover, .ui-nav-toggle-button:focus, .ui-nav-toggle-button:active {
    background-color: transparent;
    border: none;
    outline: none !important; }
