.ui-pagination {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-family: inherit; }

.ui-pagination-button {
  display: inline-block;
  font-family: inherit;
  padding: 0 4px 0 1px; }
  .ui-pagination-button.ui--disabled {
    background-color: rgba(0, 0, 0, 0); }
    .ui-pagination-button.ui--disabled > .ui-pagination-page {
      color: rgba(0, 0, 0, 0) !important; }

.ui-pagination-button:not(.ui--disabled):hover {
  background-color: rgba(150, 150, 150, 0.033); }
  .ui-pagination-button:not(.ui--disabled):hover > .ui-pagination-page {
    border-color: rgba(0, 0, 0, 0.6); }

.ui-pagination-control,
.ui-pagination-page {
  display: block;
  height: 24px;
  font-family: inherit; }
  .ui-pagination-control.ui--disabled,
  .ui-pagination-page.ui--disabled {
    opacity: 0.33; }

.ui-pagination-control {
  padding: 0;
  line-height: 1;
  min-width: 42px; }

.ui-pagination-page {
  padding: 0;
  margin: 0 8px;
  line-height: 23px;
  min-width: 12px;
  font-size: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  opacity: 0.25; }
  .ui-pagination-page:hover {
    opacity: 1; }
  .ui-pagination-page.ui--active {
    opacity: 1;
    border-color: rgba(0, 0, 0, 0.2); }

.ui-pagination-page.ui--active:hover {
  border-color: rgba(0, 0, 0, 0.5); }

.ui-pagination-num,
.ui-pagination-icon {
  display: inline-block; }

.ui-pagination-num {
  font-size: 14px; }

.ui-pagination-icon {
  font-size: 20px; }
