.ui-textarea {
  display: inline-block;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  line-height: 1;
  width: 100%;
  max-width: 100%;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3); }
  .ui-textarea > textarea {
    width: 100%;
    height: 100%;
    padding: 12px;
    min-height: 36px;
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    overflow: auto;
    resize: vertical; }
    .ui-textarea > textarea:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px; }
