// -----------------------------------------------------------------------------
  // Drawer
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES
$drawer-size-threshold: 1000px;

.ui-drawer {
  display: block;
  z-index: 50;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  color: inherit;
  background-color: inherit;
  @include animate-default(0.2s);
  transition-property: all;
  &:not(.ui--vertical) {
    flex-direction: row;
    &:not(.ui--collapsed) {
      & > .ui-content {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }
  &.ui--vertical {
    flex-direction: column;
    &:not(.ui--collapsed) {
      & > .ui-content {
        min-height: 100%;
        max-height: 100%;
      }
    }
  }
  &.ui--collapsed {
    & > .ui-content {
      width: 0px;
      min-width: 0px;
      max-width: 0px;
      height: 0px;
      min-height: 0px;
      max-height: 0px;
      padding: 0;
    }
  }
  & > .ui-content {
    display: block;
    overflow: hidden;
    color: inherit;
    background-color: inherit;
    @include animate-default(0.2s);
    transition-property: all;
    padding: 2.5em;
  }
  &.ui--styled {
    color: $header-text-color;
    background-color: $color-darkest;
    & > .ui-content {
      box-shadow: inset -.2em 2.2em .5em #000;
    }
  }
}

.ui-drawer-toggle {
  display: inline-block;
  @include text-horizontal-align-left();
  &:hover {
    background-color: $color-blue-highlight;
  }
}

.ui-drawer-toggle-button {
  width: $framing-size;
  height: $framing-size;
  color: $color-darker;
  background-color: transparent;
  padding: 2px;
  font-size: $toggle-size;
  border: none;
  border-radius: 0;
  @include box-shadow(none);
  outline: none !important;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border: none;
    outline: none !important;
  }
}
