/***
 *    ███████╗_██████╗_██████╗_███╗___███╗
 *    ██╔════╝██╔═══██╗██╔══██╗████╗_████║
 *    █████╗__██║___██║██████╔╝██╔████╔██║
 *    ██╔══╝__██║___██║██╔══██╗██║╚██╔╝██║
 *    ██║_____╚██████╔╝██║__██║██║_╚═╝_██║
 *    ╚═╝______╚═════╝_╚═╝__╚═╝╚═╝_____╚═╝
 *    ____________________________________
 */
// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
form {
  position: relative;
  width: 100%;
  font-size: 12px;
}

fieldset {
  max-width: 100%;
  display: block;
  // flex: 0 0 auto;
  // flex-wrap: wrap;
  // flex-direction: row;
  justify-content: space-around;
  border: none;
  padding: 2px;
  padding-bottom: 16px;
}

label,
legend {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: $input-padding;
  @include text-align-left();
}

label {
  height: $input-size / 2;
  font-size: $input-font-size;
  line-height: $input-size / 4;
}

legend {
  height: $input-size;
  font-size: $input-font-size + 2;
  font-weight: 700;
  width: 100%;
  line-height: $input-size;
}
