/***
 *    ███████╗_██████╗_██████╗_███╗___███╗
 *    ██╔════╝██╔═══██╗██╔══██╗████╗_████║
 *    █████╗__██║___██║██████╔╝██╔████╔██║
 *    ██╔══╝__██║___██║██╔══██╗██║╚██╔╝██║
 *    ██║_____╚██████╔╝██║__██║██║_╚═╝_██║
 *    ╚═╝______╚═════╝_╚═╝__╚═╝╚═╝_____╚═╝
 *    ____________________________________
 */
// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.ui-form {
	position: relative;
	width: 100%;
	font-size: 12px;
}

.ui-form-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: space-around;
	max-width: 100%;
	padding: $padding;
}

.ui-form-input,
.ui-form-row-input {
	display: inline-block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: auto;
	margin-right: auto;
}
