// -----------------------------------------------------------------------------
// This file contains all color variables.
// -----------------------------------------------------------------------------
/**
 * NEUTRALS
 */
$color-black: #000000;
$color-black-active: #263238;
$color-white: #F3F3F3;
$color-white-active: #FFFFFF;
$color-light-grey: #EEEEEE;
$color-grey: #BDBDBD;
$color-dark-grey: #757575;
$color-darker-grey: #484848;
$color-darkest-grey: #333333;
/**
 * NEUTRALS CONTRAST
 */
$color-black-contrast: $color-white;
$color-white-contrast: $color-black;
$color-grey-contrast: $color-white;
/**
 * ROYGBIV
 */
$roygbiv-red: #F44336 !default;
$roygbiv-orange: #FF9800 !default;
$roygbiv-yellow: #FFEB3B !default;
$roygbiv-green: #4CAF50 !default;
$roygbiv-blue: #2196F3 !default;
$roygbiv-indigo: #3F51B5 !default;
$roygbiv-violet: #673AB7 !default;
/**
 * ROYGBIV ACTIVE
 */
$color-red: darken($roygbiv-red, 10%);
$color-orange: darken($roygbiv-orange, 10%);
$color-yellow: darken($roygbiv-yellow, 10%);
$color-green: darken($roygbiv-green, 10%);
$color-blue: darken($roygbiv-blue, 10%);
$color-indigo: darken($roygbiv-indigo, 10%);
$color-violet: darken($roygbiv-violet, 10%);
/**
 * ROYGBIV
 */
$color-red-active: lighten($color-red, 20%);
$color-orange-active: lighten($color-orange, 20%);
$color-yellow-active: lighten($color-yellow, 20%);
$color-green-active: lighten($color-green, 20%);
$color-blue-active: lighten($color-blue, 20%);
$color-indigo-active: lighten($color-indigo, 20%);
$color-violet-active: lighten($color-violet, 20%);
/**
 * ROYGBIV DARKENED
 */
$color-red-darkened: darken($color-red, 10%);
$color-orange-darkened: darken($color-orange, 10%);
$color-yellow-darkened: darken($color-yellow, 10%);
$color-green-darkened: darken($color-green, 10%);
$color-blue-darkened: darken($color-blue, 10%);
$color-indigo-darkened: darken($color-indigo, 10%);
$color-violet-darkened: darken($color-violet, 10%);
/**
 * ROYGBIV CONTRAST ACTIVE
 */
$color-red-contrast: #FFEBEE !default;
$color-orange-contrast: #FFF3E0 !default;
$color-yellow-contrast: #FFFDE7 !default;
$color-green-contrast: #E8F5E9 !default;
$color-blue-contrast: #E3F2FD !default;
$color-indigo-contrast: #E8EAF6 !default;
$color-violet-contrast: #EDE7F6 !default;
/**
 * ROYGBIV CONTRAST
 */
$color-red-contrast-active: lighten($color-red-contrast, 10%);
$color-orange-contrast-active: lighten($color-orange-contrast, 10%);
$color-yellow-contrast-active: lighten($color-yellow-contrast, 10%);
$color-green-contrast-active: lighten($color-green-contrast, 10%);
$color-blue-contrast-active: lighten($color-blue-contrast, 10%);
$color-indigo-contrast-active: lighten($color-indigo-contrast, 10%);
$color-violet-contrast-active: lighten($color-violet-contrast, 10%);
/**
 * ROYGBIV CONTRAST DARKENED
 */
$color-red-contrast-darkened: darken($color-red-contrast, 10%);
$color-orange-contrast-darkened: darken($color-orange-contrast, 10%);
$color-yellow-contrast-darkened: darken($color-yellow-contrast, 10%);
$color-green-contrast-darkened: darken($color-green-contrast, 10%);
$color-blue-contrast-darkened: darken($color-blue-contrast, 10%);
$color-indigo-contrast-darkened: darken($color-indigo-contrast, 10%);
$color-violet-contrast-darkened: darken($color-violet-contrast, 10%);
/**
 * ONWARD
 */
$color-blue-shadow: rgba($color-blue, 0.33);
$color-red-shadow: rgba($color-red, 0.33);
$color-green-shadow: rgba($color-green, 0.33);

$color-primary: $color-grey !default;
$color-primary-light: $color-light-grey !default;
$color-primary-dark: $color-dark-grey !default;
$color-primary-contrast: rgba(13,13,13,0.7) !default;
$color-primary-contrast-hinted: rgba(48,48,48,0.7) !default;

$color-secondary: rgba(32,32,32,1) !default;
$color-secondary-light: rgba(48,48,48,1) !default;
$color-secondary-lighter: rgba(97,97,97,1) !default;
$color-secondary-lightest: rgba(128,128,128,1) !default;
$color-secondary-dark: rgba(13,13,13,1) !default;
$color-secondary-contrast: rgba(239,239,239,0.7) !default;
$color-secondary-contrast-hinted: rgba(128,128,128,0.7) !default;

$color-invisible: rgba(0,0,0,0) !default;

$color-dark-alpha-0: rgba(0,0,0,0.033) !default;
$color-dark-alpha-1: rgba(0,0,0,0.133) !default;
$color-dark-alpha-2: rgba(0,0,0,0.233) !default;
$color-dark-alpha-3: rgba(0,0,0,0.333) !default;
$color-dark-alpha-4: rgba(0,0,0,0.433) !default;
$color-dark-alpha-5: rgba(0,0,0,0.533) !default;
$color-dark-alpha-6: rgba(0,0,0,0.633) !default;
$color-dark-alpha-7: rgba(0,0,0,0.733) !default;
$color-dark-alpha-8: rgba(0,0,0,0.833) !default;
$color-dark-alpha-9: rgba(0,0,0,0.933) !default;

$color-light-alpha-0: rgba(255,255,255,0.033) !default;
$color-light-alpha-1: rgba(255,255,255,0.133) !default;
$color-light-alpha-2: rgba(255,255,255,0.233) !default;
$color-light-alpha-3: rgba(255,255,255,0.333) !default;
$color-light-alpha-4: rgba(255,255,255,0.433) !default;
$color-light-alpha-5: rgba(255,255,255,0.533) !default;
$color-light-alpha-6: rgba(255,255,255,0.633) !default;
$color-light-alpha-7: rgba(255,255,255,0.733) !default;
$color-light-alpha-8: rgba(255,255,255,0.833) !default;
$color-light-alpha-9: rgba(255,255,255,0.933) !default;

$color-dark-alpha-0-medium: rgba(151,151,151,1) !default;
$color-dark-alpha-0-light: rgba(255,255,255,0.75) !default;
$color-dark-contrast: $color-white !default;
$color-light-contrast: $color-black !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;
