/***
 *    ██╗..██╗███████╗.█████╗.██████╗.███████╗██████╗.
 *    ██║..██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
 *    ███████║█████╗..███████║██║..██║█████╗..██████╔╝
 *    ██╔══██║██╔══╝..██╔══██║██║..██║██╔══╝..██╔══██╗
 *    ██║..██║███████╗██║..██║██████╔╝███████╗██║..██║
 *    ╚═╝..╚═╝╚══════╝╚═╝..╚═╝╚═════╝.╚══════╝╚═╝..╚═╝
 *    ................................................
 */
// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

 @import 'config';


.ui-header {
  width: 100%;
  height: $header-height;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  color: inherit;
  background-color: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-basis: 100%;

  &.ui-fixed {
    left: 0;
    top: 0;
    z-index: 77;
  }

  @media screen and (max-width: $screen-size-threshold) {
    min-height: $header-height;
  }
}

.ui-header-bolster {
  width: 100%;
  height: $header-height - 5;
  display: inline-block;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0px;
  padding: 0px;
}
