/***
 *    ██╗..██╗███████╗.█████╗.██████╗.███████╗██████╗.
 *    ██║..██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
 *    ███████║█████╗..███████║██║..██║█████╗..██████╔╝
 *    ██╔══██║██╔══╝..██╔══██║██║..██║██╔══╝..██╔══██╗
 *    ██║..██║███████╗██║..██║██████╔╝███████╗██║..██║
 *    ╚═╝..╚═╝╚══════╝╚═╝..╚═╝╚═════╝.╚══════╝╚═╝..╚═╝
 *    ................................................
 */
// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

 @import 'config';


.ui-header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;

  &.ui-fixed {
    left: 0;
    top: 0;
    z-index: 77;
  }

  @media screen and (max-width: $screen-size-threshold) {
    min-height: $header-height;
  }
}

.ui-header-bolster {
  width: 100%;
  height: $header-height;
  margin: 0;
  padding: 0;
}
