// -----------------------------------------------------------------------------
// This file contains all component specific Sass mixins.
// -----------------------------------------------------------------------------

// VARIABLES

$badge-font-size: $widget-font-size;
$badge-icon-font-size: $widget-icon-font-size;
$badge-size: $widget-size;
$badge-size-small: $widget-size-small;