/***
 *    ██████╗..█████╗.██████╗..██████╗.███████╗
 *    ██╔══██╗██╔══██╗██╔══██╗██╔════╝.██╔════╝
 *    ██████╔╝███████║██║..██║██║..███╗█████╗..
 *    ██╔══██╗██╔══██║██║..██║██║...██║██╔══╝..
 *    ██████╔╝██║..██║██████╔╝╚██████╔╝███████╗
 *    ╚═════╝.╚═╝..╚═╝╚═════╝..╚═════╝.╚══════╝
 *    .........................................
 */
// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

 @import 'config';

 
.ui-badge {
  display: inline-block;
  min-width: $badge-size;
  height: $badge-size;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0);
  padding: 0;
  cursor: pointer;
  background-color: rgba(0,0,0,0.066);
  @include text-horizontal-align-center();
  &:hover {
    background-color: rgba(0,0,0,0.033);
  }
}

.ui-badge-content {
  display: inline-block;
  line-height: $badge-size;
  font-size: $badge-font-size;
  border: none;
  padding: 0;
}

.ui-badge-icon {
  display: inline-block;
  line-height: $badge-size;
  font-size: $badge-icon-font-size;
  border: none;
  padding: 0;
}

.ui-badge-small {
  display: inline-block;
  min-width: $badge-size-small;
  height: $badge-size-small;
  line-height: $badge-size-small;
  font-size: $badge-font-size;
  border-radius: 20px;
  border: none;
  padding: 0;
  background-color: rgba(0,0,0,0.066);
  @include text-horizontal-align-center();
  &:hover {
    background-color: rgba(0,0,0,0.033);
  }
}

.ui-badge-label {
  display: inline-block;
  min-width: $badge-size;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  padding: 4px;
	line-height: 1;
  background-color: rgba(0,0,0,0.066);
  @include text-horizontal-align-center();
	vertical-align: middle;
  &:hover {
    background-color: rgba(0,0,0,0.033);
  }
}
