// -----------------------------------------------------------------------------
  // Nav
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES
$nav-item-size: $framing-size;
$nav-item-padding: 18px 21px;
$nav-item-width: 150px;
$nav-content-fontsize: 1.14em;
$nav-content-width: ($framing-size-large - 50);
$nav-widget-content-fontsize: 1.2em;
$nav-icon-size: $framing-size;
$nav-icon-fontsize: 18px;
$nav-title-fontsize: 1.2em;
$nav-folder-title-padding: 12px 0 12px 12px;
$nav-folder-fontsize: 0.8em;
$nav-default-alignment: start;

.ui-nav {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: $nav-default-alignment;
  align-content: $nav-default-alignment;
  align-items: $nav-default-alignment;
  text-align: left;
  &:not(.ui--vertical) {
    // min-width: 100%;
    // max-width: 100%;
    height: $nav-item-size;

    & > .ui-nav-toggle {
      float: left;
    }

    & > .ui-nav-list {
      height: auto;
      flex-direction: row;
      & > li {
        display: inline-flex;
        justify-content: space-between;
      }
    }

    &.ui--collapsed {
      & > .ui-nav-list {
        overflow: hidden;
        height: 0px !important;
      }
    }

    @media screen and (max-width: $mobile-screen-threshold) {
      height: auto;
      flex-wrap: wrap;
      flex-direction: column !important;
      flex-basis: unset;
    }
  }
  &.ui--vertical {
    height: auto;

    & > .ui-nav-list {
      width: auto;
      height: inherit;
      flex-direction: column;
      & > li {
        float: none;
        display: block;
      }
    }

    &.ui--collapsed {
      & > .ui-nav-list {
        overflow: hidden;
        width: 0px !important;
      }
    }
  }
}

.ui-nav-list {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  list-style-type: none;
  flex-wrap: inherit;
  flex-direction: inherit;
  align-content: inherit;
  align-items: inherit;
  justify-content: inherit;
  justify-items: inherit;
  text-align: inherit;
  flex-basis: inherit;

  & > li {
    position: relative;
    float: left;
    text-align: inherit;
    height: $nav-item-size;
    width: auto;
    margin: 0;
    padding: 0px 12px;
    color: inherit;
    flex-basis: unset;
    flex-grow: 1;
    font-size: $nav-content-fontsize;
    line-height: $nav-item-size;
    @include animate-default(0.2s);
    transition-property: all;

    @media screen and (max-width: $mobile-screen-threshold) {
      display: block !important;
    }

    & > * {
      white-space: nowrap;
      text-align: start;
      text-overflow: ellipsis;
      margin: 0;
      padding: 0;
      border: none;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
      background-color: transparent;
    }
    & > a {
      &:hover,
      &:focus {
        color: inherit;
        background-color: transparent;
      }
    }

    & > .ui-dropdown {
      & > .ui-dropdown-toggle {
        border: none;
        background: transparent;
        &:hover,
        &:focus,
        &:active {
          outline: none !important;
          border: none;
          background: none;
        }
      }
    }

    &:hover,
    &:focus {
      & > .ui-caret:before {
          content: "\2212";
      }
    }
  }
}

.ui-nav-item {
  &:hover,
  &:focus {
    background-color: rgba(188, 188, 188, 0.1);
  }
}

.ui-nav-icon {
  display: inline-block;
  max-width: $nav-icon-size;
  margin: 0;
  padding: 0;
  font-size: $nav-icon-fontsize;
  line-height: 1.4em;
  text-align: center;
  vertical-align: baseline;
  flex-basis: $nav-icon-size;
}

.ui-nav-title {
  display: inline-block;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  font-weight: 600;
  font-size: $nav-title-fontsize;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-nav-toggle {
  display: inline-block;
  color: inherit;
  @include text-horizontal-align-left();
  @media screen and (max-width: $mobile-screen-threshold) {
    display: block !important;
  }
}

.ui-nav-toggle-button {
  width: $framing-size;
  height: $framing-size;
  color: inherit;
  background-color: transparent;
  padding: 2px;
  font-size: $toggle-size;
  border: none;
  @include box-shadow(none);
  outline: none !important;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border: none;
    outline: none !important;
  }
}
