// -----------------------------------------------------------------------------
  // Nav
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES
$nav-item-size: $framing-size;
$nav-item-padding: 18px 21px;
$nav-item-width: $framing-size-large;
$nav-content-fontsize: 1em;
$nav-content-width: ($framing-size-large - 50);
$nav-widget-content-fontsize: 1.2em;
$nav-icon-size: $framing-size;
$nav-icon-fontsize: 18px;
$nav-title-fontsize: 1.2em;
$nav-title-padding: 12px 0 6px 12px;
$nav-folder-fontsize: 0.8em;
$nav-default-alignment: start;

.ui-nav {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
  color: inherit;
  background-color: inherit;
  display: block;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: $nav-default-alignment;
  align-items: $nav-default-alignment;
  justify-content: $nav-default-alignment;
  justify-items: $nav-default-alignment;
  text-align: left;

  & > nav {
    display: flex;
    flex-wrap: inherit;
    flex-direction: inherit;
    align-content: inherit;
    align-items: inherit;
    justify-content: inherit;
    justify-items: inherit;
    text-align: inherit;
    flex-basis: inherit;
  }

  &.ui-orientation-vertical {
    // min-height: 100%;
    // max-height: 100%;
    height: auto;

    & > nav {
      width: auto;
      height: inherit;
      flex-direction: column;
      & > .ui-nav-item {
        display: block;
      }
    }

    &.ui--collapsed {
      & > nav {
        overflow: hidden;
        width: 0px !important;
      }
    }
  }

  &.ui-orientation-horizontal {
    // min-width: 100%;
    // max-width: 100%;
    height: $nav-item-size;

    & > nav {
      width: inherit;
      height: auto;
      flex-direction: row;
      & > .ui-nav-item {
        display: inline-block;
        text-align: center;
      }
    }

    &.ui--collapsed {
      & > nav {
        overflow: hidden;
        height: 0px !important;
      }
    }

    @media screen and (max-width: $mobile-screen-threshold) {
      height: auto;
      flex-wrap: wrap;
      flex-direction: column !important;
    }
  }
}

.ui-nav-widget,
.ui-nav-item {
    position: relative;
    // justify-content: space-between;
    text-align: inherit;
    height: $nav-item-size;
    width: auto;
    margin: 0;
    padding: 0px 12px;
    color: inherit;
    background-color: transparent;
    border: none;
    @include animate-default(0.2s);
    transition-property: all;
    flex-basis: inherit;

    @media screen and (max-width: $mobile-screen-threshold) {
      display: block !important;
    }

    &:after {
      display: inline-flex !important;
      flex-direction: row !important;
      flex-wrap: nowrap;
    }
}

.ui-nav-widget {
  &:hover,
  &:focus {
    color: inherit !important;
    background-color: transparent !important;
  }
}

.ui-nav-item {
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-lightest;
    background-color: $color-blue-highlight;
    & > .ui-nav-folder {
      width: auto;
      height: auto;
      border: $border;
      overflow-y: scroll;
      box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.3),
        2px 2px 2px 0px rgba(0, 0, 0, 0.2);

      & > .ui-nav-item {
        height: $nav-item-size;
      }
    }
    & > .ui-nav-caret:before {
        content: "\2212";
    }
  }

  & > .ui-nav-icon {
    line-height: 1.4em;
  }
}

.ui-nav-folder {
  z-index: 99;
  display: block;
  width: 0px;
  max-width: $framing-size-large;
  height: 0px;
  max-height: $framing-size-large;
  font-size: $nav-folder-fontsize;
  list-style-type: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: none;
  color: $text-color;
  background-color: $background-color;
  @include box-shadow(none);
  @include animate-default(0.1s);
  transition-property: all;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  font-weight: 600;

  &.ui--open {
    width: auto;
    height: auto;
    border: $border;
    overflow-y: scroll;
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.3),
      2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    & > .ui-nav-item,
    & > .ui-nav-folder-item {
      height: $nav-item-size;
    }
  }

  & > .ui-nav-item {
    height: 0px;
    width: $nav-item-width;
    padding: 0;

    & > .ui-nav-content {
      width: $nav-content-width;
    }

    & > .ui-nav-icon {
      line-height: 1.8em;
    }
  }

  & > .ui-nav-title {
    width: 100%;
    padding: $nav-title-padding;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.ui-nav-content {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
  text-align: start;
  // overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  margin: 0;
  padding: 0 4px;
  border: none;
  font-size: $nav-content-fontsize;
  line-height: $nav-item-size;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;

  &:hover,
  &:focus {
    color: inherit !important;
    background-color: transparent !important;
  }
}

.ui-nav-icon {
  display: inline-block;
  max-width: $nav-icon-size;
  margin: 0;
  padding: 0;
  font-size: $nav-icon-fontsize;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  flex-basis: $nav-icon-size;
}

.ui-nav-caret {
  &:before {
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
    padding: 0px 4px;
    content: "\002B";
  }

}

.ui-nav-title {
  display: inline-block;
  font-size: $nav-title-fontsize;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
}

.ui-nav-toggle {
  display: inline-block;
  color: inherit;
  @include text-horizontal-align-left();
  @media screen and (max-width: $mobile-screen-threshold) {
    display: block !important;
  }
}

.ui-nav-toggle-button {
  width: $framing-size;
  height: $framing-size;
  color: inherit;
  background-color: transparent;
  padding: 2px;
  font-size: $toggle-size;
  border: none;
  border-radius: 0;
  @include box-shadow(none);
  outline: none !important;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border: none;
    outline: none !important;
  }
}
