// -----------------------------------------------------------------------------
  // Main
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES

.ui-main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
  & > .ui-content {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 2.5em 0;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
