// -----------------------------------------------------------------------------
  // Pill
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES
$pill-background-color: $color-lighter !default;
$pill-background-color-disabled: $color-light;
$pill-text-color: rgba(0,0,0,0.5) !default;
$pill-text-color-disabled: $color-ultra-light;
$pill-action-background-color: $color-ultra-light !default;
$pill-action-active-background-color: rgba(0,0,0,0.2) !default;
$pill-action-text-color: rgba(0,0,0,0.5) !default;
$pill-action-active-text-color: rgba(255,255,255,0.8) !default;
$pill-min-width: 32px !default;
$pill-height: 29px !default;
$pill-margin: 0px 0px 0px ($padding-large / 2) !default;
$pill-padding-calc: ($pill-height / 4);
$pill-padding: 0px $pill-padding-calc 0px $pill-padding-calc !default;
$pill-line-height: $pill-height;
$pill-action-size: 24px !default;

.ui-pill {
  display: inline-block;
  position: relative;
  height: $pill-height;
  min-width: $pill-min-width;
  padding: 0 0.2em;
  margin: $pill-margin;
  border: none;
  border-radius: 20px;
  letter-spacing: 0;
  text-decoration: none;
  color: $pill-text-color;
  background-color: $pill-background-color;
  cursor: default;
  @include button-skin();
  @include text-align-center();
  overflow: hidden;
  transition: box-shadow 0.2s $animation-curve-fast-out-linear-in,
              background-color 0.2s $animation-curve-default,
              color 0.2s $animation-curve-default;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    border: none;
  }

  &.disabled {
    color: $pill-text-color-disabled !important;
    background-color: $pill-background-color-disabled !important;

    & > .ui-pill-action {
      color: $pill-text-color-disabled !important;
      background-color: $pill-background-color-disabled !important;
      cursor: default;
      @include box-shadow(none);

      &:hover,
      &:focus,
      &:active {
        color: $pill-text-color-disabled !important;
        background-color: $pill-background-color-disabled !important;
      }
    }
  }
}

.ui-pill-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 28px;
  padding: $pill-padding;
}

.ui-pill-action {
  display: inline-block;
  height: $pill-action-size;
  width: $pill-action-size;
  font-size: ($pill-action-size - 4);
  font-weight: 300;
  line-height: $pill-action-size;
  border: none;
  border-radius: 20px;
  color: $pill-action-text-color;
  background-color: $pill-action-background-color;
  cursor: pointer;
  @include button-inset-skin();
  @include text-align-center();

  & > .ui-icon {
    padding-left: 0.08em;
  }

  &:hover,
  &:focus,
  &:active {
    border: none;
  }

  &:hover,
  &:active {
    color: $pill-action-active-text-color;
    background-color: $pill-action-active-background-color;
  }
}
