// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.ui-table {
  position: relative;
  width: 100%;
  max-width: 100%;
  border: none;
  border-collapse: collapse;
  white-space: wrap;
  font-size: 12px;
  line-height: 16px;

  & > thead {
    padding-bottom: 3px;
    background-color: $color-secondary-lighter;
    color: $color-primary-light;

    & > tr {
      & > th, & > td {
        padding: 8px 12px;
        color: inherit;
      }
    }
  }

  & > tbody {
    & > tr {
      position: relative;
      & > td {
        position: relative;
        padding: 2px 12px;
        margin: 0;
        box-sizing: border-box;
      }
    }
  }

  & > th {
    position: relative;
    padding: 2px 12px;
    margin: 0;
    height: $table-row-height;
    box-sizing: border-box;
    vertical-align: bottom;
    @include text-horizontal-align-center();
    text-overflow: ellipsis;
    @include typo-body-2();
    font-weight: bold;
  }
}

.ui-table-bordered {
  border-right: $table-borders;
  & > tbody {
    & > tr {
      border: 0px solid rgba(0,0,0,0);
      border-bottom: $table-borders;
      & > td,
      & > th {
        border: 0px solid rgba(0,0,0,0);
        border-left: $table-borders;
      }
    }
  }
  & > tfoot {
    & > tr {
      border: 0px solid rgba(0,0,0,0);
      border-bottom: $table-borders;
      & > td,
      & > th {
        border: 0px solid rgba(0,0,0,0);
        border-left: $table-borders;
      }
    }
  }
}

.ui-table-padded {
  padding: $padding;
  & > tbody {
    & > tr {
      & > td,
      & > th {
        padding: $padding;
      }
    }
  }
  & > tfoot {
    & > tr {
      & > td,
      & > th {
        padding: $padding;
      }
    }
  }
}

.ui-table-hover {
  & > tbody {
    & > tr {
      &:hover {
        background-color: rgba(0,180,255,0.08) !important;
      }
      & > td,
      & > th {
        @include animate-default(0.28s);
        transition-property: background-color;
        &:hover {
          background-color: rgba(0,0,0,0.033);
        }
      }
    }
  }
  & > tfoot {
    & > tr {
      &:hover {
        background-color: rgba(0,180,255,0.08) !important;
      }
      & > td,
      & > th {
        @include animate-default(0.28s);
        transition-property: background-color;
        &:hover {
          background-color: rgba(0,0,0,0.033);
        }
      }
    }
  }
}

.ui-table-spaced {
  line-height: 20px;
  & > tbody {
    & > tr {
      & > td,
      & > th {
        padding-top: $padding;
      }
    }
  }
  & > tfoot {
    & > tr {
      & > td,
      & > th {
        padding-top: $padding;
      }
    }
  }
}

.ui-table-striped {
  line-height: 20px;
  & > tbody {
    tr:nth-child(odd) {
      background-color: rgba(0,0,0,0.033);
    }
  }
}

.sort-button {
  padding: 0 4px;
  float: right;
}

@media (min-width: 40em) {
  .ui-table {
    font-size: 13px;
    & > th {
      font-size: 15px;
    }
  }
}
