// -----------------------------------------------------------------------------
  // Helpers
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group base
////


.ui-callout-left {
  @include callout(20px, 'left');
}

.ui-callout-right {
  @include callout(20px, 'right');
}

.ui-callout-top {
  @include callout(20px, 'top');
}

.ui-callout-bottom {
  @include callout(20px, 'bottom');
}

.ui-user-comment,
.ui-user-comment-flip {
  position: relative;
  display: block;
  width: fit-content;
  margin: .4em auto .6em;
  & > p {
    display: block;
    margin: 0px;
    font-weight: 300;
    letter-spacing: 0.02em;
  }
  &:not([data-user-initials]):not(.ui-user-image) {
    &:before {
        content: "\1F575";
        font-size: 20px;
        font-style: normal;
        position: absolute;
        top: 50%;
        margin-top: -15px;
    }
  }
}

.ui-user-comment {
  padding-left: 40px;
  &:not(.ui-user-image) {
    &:before {
      left: 0;
    }
  }
  &.ui-user-image {
    & > img {
      left: 0;
    }
  }
  & > p {
    @include callout(12px, 'left');
  }
}

.ui-user-comment-flip {
  padding-right: 40px;
  &:not(.ui-user-image) {
    &:before {
      right: 0;
    }
  }
  &.ui-user-image {
    & > img {
      right: 0;
    }
  }
  & > p {
    @include callout(12px, 'right');
  }
}

[data-user-initials] {
  &:before {
    content: attr(data-user-initials);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    overflow: hidden;
    font-size: 20px;
    font-style: normal;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    color: #FFFFFF;
    background-color: $color-blue;
  }
}
.ui-user-image {
  & > img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }
}

.ui-reveal {
  &>.ui-reveal-default,
  &>.ui-reveal-hover {
    display: block;
    text-align: center;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }

  &>.ui-reveal-default,
  {
    transform: scale(1);
    opacity: 1;
    height: auto;
  }

  &>.ui-reveal-hover {
    transform: scale(1.5);
    opacity: 0;
    height: 0;
  }

  &:hover {
    &>.ui-reveal-default,
    {
      transform: scale(0.1);
      opacity: 0;
      height: 0;
      transition: all 0s;
      -webkit-transition: all 0s;
      -moz-transition: all 0s;
      -ms-transition: all 0s;
      -o-transition: all 0s;
    }

    &>.ui-reveal-hover {
      transform: scale(1);
      opacity: 1;
      height: auto;
    }
  }
}
