// -----------------------------------------------------------------------------
  // Helpers
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group base
////


.ui-callout-left {
  @include callout(20px, 'left');
}

.ui-callout-right {
  @include callout(20px, 'right');
}

.ui-callout-top {
  @include callout(20px, 'top');
}

.ui-callout-bottom {
  @include callout(20px, 'bottom');
}

.ui-user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  overflow: hidden;
  color: #FFFFFF;
  background-color: transparent;

  &:not(img) {
    &:before {
      content: "\1F575";
      display: block;
      width: 32px;
      height: 32px;
      font-size: 20px;
      font-style: normal;
      line-height: 32px;
      text-align: center;
    }
  }

  &[data-user-initials] {
    &:before {
      content: attr(data-user-initials);
      display: block;
      width: 32px;
      height: 32px;
      font-size: 20px;
      font-style: normal;
      line-height: 32px;
      text-align: center;
    }
  }

  &img {
    display: block;
    width: 32px;
    height: 32px;
  }
}

.ui-user-comment,
.ui-user-comment-flip {
  position: relative;
  display: block;
  width: auto;
  margin: .4em auto .6em;
  font-weight: 300;
  letter-spacing: 0.02em;

  & > .ui-user-avatar {
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }

  & > q,
  & > p {
    margin: 0;
  }
}

.ui-user-comment {
  text-align: left;
  padding-left: 46px !important;
  & > q {
    @include callout(12px, 'left');
  }
  & > .ui-user-avatar {
    left: 0;
  }
}

.ui-user-comment-flip {
  text-align: right;
  padding-right: 46px !important;
  & > q {
    @include callout(12px, 'right');
  }
  & > .ui-user-avatar {
    right: 0;
  }
}


.ui-reveal {
  &>.ui-reveal-default,
  &>.ui-reveal-hover {
    display: block;
    text-align: center;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }

  &>.ui-reveal-default,
  {
    transform: scale(1);
    opacity: 1;
    height: auto;
  }

  &>.ui-reveal-hover {
    transform: scale(1.5);
    opacity: 0;
    height: 0;
  }

  &:hover {
    &>.ui-reveal-default,
    {
      transform: scale(0.1);
      opacity: 0;
      height: 0;
      transition: all 0s;
      -webkit-transition: all 0s;
      -moz-transition: all 0s;
      -ms-transition: all 0s;
      -o-transition: all 0s;
    }

    &>.ui-reveal-hover {
      transform: scale(1);
      opacity: 1;
      height: auto;
    }
  }
}
