// -----------------------------------------------------------------------------
  // Helpers
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group base
////


.ui-callout-left {
  @include callout(20px, 'left');
}

.ui-callout-right {
  @include callout(20px, 'right');
}

.ui-callout-top {
  @include callout(20px, 'top');
}

.ui-callout-bottom {
  @include callout(20px, 'bottom');
}

.steve-says {
  position: relative;
  display: inline-block;
  &:before {
      content: "\1F464";
      font-size: 20px;
      font-style: normal;
      position: absolute;
      left: 0;
      bottom: 50%;
      margin-left: -30px;
      margin-bottom: -12px;
  }
  &:after {
    content: '';
    margin-left: 0;
  }
  & > p {
    display: block;
    margin: 0px;
    font-weight: 300;
    letter-spacing: 0.02em;
    @include callout(12px, 'left');
  }
}

.ui-reveal {
  &>.ui-reveal-default,
  &>.ui-reveal-hover {
    display: block;
    text-align: center;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }

  &>.ui-reveal-default,
  {
    transform: scale(1);
    opacity: 1;
    height: auto;
  }

  &>.ui-reveal-hover {
    transform: scale(1.5);
    opacity: 0;
    height: 0;
  }

  &:hover {
    &>.ui-reveal-default,
    {
      transform: scale(0.1);
      opacity: 0;
      height: 0;
      transition: all 0s;
      -webkit-transition: all 0s;
      -moz-transition: all 0s;
      -ms-transition: all 0s;
      -o-transition: all 0s;
    }

    &>.ui-reveal-hover {
      transform: scale(1);
      opacity: 1;
      height: auto;
    }
  }
}
