// -----------------------------------------------------------------------------
  // Icons
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group base
////

.ui-icon,
[class^="ui-icon-"],
[class*="ui-icon-"] {
  &:before {
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
  }
}

// General Icons
.ui-icon-home {
    &:before {
        content: "\1F3E0";
    }
}
.ui-icon-user {
    &:before {
        content: "\1F464";
    }
}
.ui-icon-star {
    &:before {
        content: "\1F7CA";
    }
}
.ui-icon-calendar {
    &:before {
        content: "\1F5D3";
    }
}
.ui-icon-tools {
    &:before {
        content: "\1F6E0";
    }
}
.ui-icon-cart {
    &:before {
        content: "\1F6D2";
    }
}
.ui-icon-warning {
    &:before {
        content: "\26A0";
    }
}
.ui-icon-speech {
    &:before {
        content: "\1F4AC";
    }
}
.ui-icon-speech-left {
    &:before {
        content: "\1F5E8";
    }
}
.ui-icon-speech-right {
    &:before {
        content: "\1F5E9";
    }
}
.ui-icon-fire {
    &:before {
        content: "\1F525";
    }
}
.ui-icon-eye {
    &:before {
        content: "\1F441";
    }
}
.ui-icon-mail {
    &:before {
        content: "\1F582";
    }
}
.ui-icon-info {
    &:before {
        content: "\1F6C8";
    }
}
.ui-icon-disabled {
    &:before {
        content: "\26D4";
    }
}
.ui-icon-lock {
    &:before {
        content: "\1F512";
    }
}
.ui-icon-unlock {
    &:before {
        content: "\1F513";
    }
}
.ui-icon-point-left {
    &:before {
        content: "\1F59C";
    }
}
.ui-icon-point-right {
    &:before {
        content: "\1F59D";
    }
}
.ui-icon-flag {
    &:before {
        content: "\1F3F3";
    }
}

// Arrow Icons
.ui-icon-up {
    &:before {
        content: "\25BC";
    }
}
.ui-icon-up-open {
    &:before {
        content: "\25B3";
    }
}
.ui-icon-down {
    &:before {
        content: "\25BC";
    }
}
.ui-icon-down-open {
    &:before {
        content: "\25BD";
    }
}
.ui-icon-right {
    &:before {
        content: "\25B6";
    }
}
.ui-icon-right-open {
    &:before {
        content: "\25B7";
    }
}
.ui-icon-left {
    &:before {
        content: "\25C0";
    }
}
.ui-icon-left-open {
    &:before {
        content: "\25C1";
    }
}

// Control Icons
.ui-icon-check {
    &:before {
        content: "\2714";
    }
}
.ui-icon-x {
    &:before {
        content: "\2718";
    }
}
.ui-icon-menu {
    &:before {
        content: "\2261";
    }
}
.ui-icon-close {
    &:before {
        content: "\00d7";
    }
}
.ui-icon-search {
    &:before {
        content: "\26B2";
    }
}
.ui-icon-follow {
    &:before {
        content: "\2BAB";
    }
}
.ui-icon-edit {
    &:before {
        content: "\1F589";
    }
}
.ui-icon-folder {
    &:before {
        content: "\1F5BF";
    }
}
.ui-icon-folder-closed {
    &:before {
        content: "\1F5C0";
    }
}
.ui-icon-folder-open {
    &:before {
        content: "\1F5C1";
    }
}
.ui-icon-add {
    &:before {
        content: "\002B";
    }
}
.ui-icon-remove {
    &:before {
        content: "\2212";
    }
}
.ui-icon-plus {
    &:before {
        content: "\2795";
    }
}
.ui-icon-minus {
    &:before {
        content: "\2796";
    }
}
.ui-icon-maximize {
    &:before {
        content: "\1F5D6";
    }
}
.ui-icon-minimize {
    &:before {
        content: "\1F5D5";
    }
}
.ui-icon-checked {
    &:before {
        content: "\2611";
    }
}
.ui-icon-unchecked {
    &:before {
        content: "\2610";
    }
}

// Random/Misc/Fun Icons
.ui-icon-spider {
    &:before {
        content: "\1F577";
    }
}
.ui-icon-bat {
    &:before {
        content: "\1F987";
    }
}
.ui-icon-ghost {
    &:before {
        content: "\1F47B";
    }
}
.ui-icon-skull {
    &:before {
        content: "\1F480";
    }
}
.ui-icon-doot {
    &:before {
        content: "\1F571";
    }
}
.ui-icon-robot {
    &:before {
        content: "\1F916";
    }
}
.ui-icon-rocket {
    &:before {
        content: "\1F680";
    }
}
.ui-icon-sheep {
    &:before {
        content: "\1F411";
    }
}
.ui-icon-shooting-star {
    &:before {
        content: "\1F320";
    }
}
.ui-icon-atom {
    &:before {
        content: "\269B";
    }
}
.ui-icon-tv {
    &:before {
        content: "\1F4FA";
    }
}

// Currently Unsupported In Most browsers
.ui-icon-ufo {
    &:before {
        content: "\1F6F8";
    }
}
.ui-icon-zombie {
    &:before {
        content: "\1F9DF";
    }
}
