// -----------------------------------------------------------------------------
  // Icons
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group base
////

// General Icons
@include spawn-ui-icon("ui-icon-home", "\1F3E0");
@include spawn-ui-icon("ui-icon-user", "\1F464");
@include spawn-ui-icon("ui-icon-star", "\1F7CA");
@include spawn-ui-icon("ui-icon-calendar", "\1F5D3");
@include spawn-ui-icon("ui-icon-tools", "\1F6E0");
@include spawn-ui-icon("ui-icon-cart", "\1F6D2");
@include spawn-ui-icon("ui-icon-warning", "\26A0");
@include spawn-ui-icon("ui-icon-speech", "\1F4AC");
@include spawn-ui-icon("ui-icon-speech-left", "\1F5E8");
@include spawn-ui-icon("ui-icon-speech-right", "\1F5E9");
@include spawn-ui-icon("ui-icon-fire", "\1F525");
@include spawn-ui-icon("ui-icon-eye", "\1F441");
@include spawn-ui-icon("ui-icon-mail", "\1F582");
@include spawn-ui-icon("ui-icon-info", "\1F6C8");
@include spawn-ui-icon("ui-icon-disabled", "\26D4");
@include spawn-ui-icon("ui-icon-lock", "\1F512");
@include spawn-ui-icon("ui-icon-unlock", "\1F513");
@include spawn-ui-icon("ui-icon-point-left", "\1F59C");
@include spawn-ui-icon("ui-icon-point-right", "\1F59D");
@include spawn-ui-icon("ui-icon-flag", "\1F3F3");
// Arrow Icons
@include spawn-ui-icon("ui-icon-up", "\25BC");
@include spawn-ui-icon("ui-icon-up-open", "\25B3");
@include spawn-ui-icon("ui-icon-down", "\25BC");
@include spawn-ui-icon("ui-icon-down-open", "\25BD");
@include spawn-ui-icon("ui-icon-right", "\25B6");
@include spawn-ui-icon("ui-icon-right-open", "\25B7");
@include spawn-ui-icon("ui-icon-left", "\25C0");
@include spawn-ui-icon("ui-icon-left-open", "\25C1");
// Control Icons
@include spawn-ui-icon("ui-icon-check", "\2714");
@include spawn-ui-icon("ui-icon-x", "\2718");
@include spawn-ui-icon("ui-icon-menu", "\2261");
@include spawn-ui-icon("ui-icon-close", "\00d7");
@include spawn-ui-icon("ui-icon-follow", "\2BAB");
@include spawn-ui-icon("ui-icon-edit", "\1F589");
@include spawn-ui-icon("ui-icon-folder", "\1F5BF");
@include spawn-ui-icon("ui-icon-folder-closed", "\1F5C0");
@include spawn-ui-icon("ui-icon-folder-open", "\1F5C1");
@include spawn-ui-icon("ui-icon-add", "\002B");
@include spawn-ui-icon("ui-icon-remove", "\2212");
@include spawn-ui-icon("ui-icon-plus", "\2795");
@include spawn-ui-icon("ui-icon-minus", "\2796");
@include spawn-ui-icon("ui-icon-maximize", "\1F5D6");
@include spawn-ui-icon("ui-icon-minimize", "\1F5D5");
@include spawn-ui-icon("ui-icon-checked", "\2611");
@include spawn-ui-icon("ui-icon-unchecked", "\2610");
// Random/Misc/Fun Icons
@include spawn-ui-icon("ui-icon-spider", "\1F577");
@include spawn-ui-icon("ui-icon-bat", "\1F987");
@include spawn-ui-icon("ui-icon-ghost", "\1F47B");
@include spawn-ui-icon("ui-icon-skull", "\1F480");
@include spawn-ui-icon("ui-icon-doot", "\1F571");
@include spawn-ui-icon("ui-icon-robot", "\1F916");
@include spawn-ui-icon("ui-icon-invader", "\1F47E");
@include spawn-ui-icon("ui-icon-rocket", "\1F680");
@include spawn-ui-icon("ui-icon-sheep", "\1F411");
@include spawn-ui-icon("ui-icon-shooting-star", "\1F320");
@include spawn-ui-icon("ui-icon-atom", "\269B");
@include spawn-ui-icon("ui-icon-tv", "\1F4FA");
// Currently Unsupported In Most browsers
@include spawn-ui-icon("ui-icon-ufo", "\1F6F8");
@include spawn-ui-icon("ui-icon-zombie", "\1F9DF");

.ui-icon-search {
  display: inline-block;
  padding: 0;
  margin: 0;
  &:not(.ui--reversed) {
    transform: rotate(45deg);
    &:before {
        content: "\26B2";
        font-style: normal;
        font-size: 2em;
        padding: 0;
        line-height: 1.3em;
    }
  }
  &.ui--reversed {
    transform: rotate(-45deg);
    &:after {
        content: "\26B2";
        font-style: normal;
        font-size: 2em;
        padding: 0;
        line-height: 1.3em;
    }
  }
}
