/***
 *    ██████╗  █████╗  ██████╗ ██╗███╗   ██╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
 *    ██╔══██╗██╔══██╗██╔════╝ ██║████╗  ██║██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
 *    ██████╔╝███████║██║  ███╗██║██╔██╗ ██║███████║   ██║   ██║██║   ██║██╔██╗ ██║
 *    ██╔═══╝ ██╔══██║██║   ██║██║██║╚██╗██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
 *    ██║     ██║  ██║╚██████╔╝██║██║ ╚████║██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
 *    ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
 *                                                                                 
 */
// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.pagination-bar {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 56;
  	@include text-align-center();
}

.pagination-step {
	font-size: 36px !important;
	line-height: 1;
	//margin-top: 10px;
}

.pagination-current-page,
.pagination-spacer-page,
.pagination-other-page {
	display: block;
	height: 24px;
	width: 24px;
	line-height: 24px;
	border: none;
}

.pagination-current-page,
.pagination-other-page {
	border-radius: 50%;
    color: white;
    background-color: $color-secondary-light;
}

.pagination-spacer-page {
    color: $color-invisible !important;
    background-color: $color-invisible !important;
}

.pagination-other-page {
    opacity: 0.25 !important;
    &:hover {
    	opacity: 0.8 !important;
    }
}

ul.pagination {
	padding: 0;
	margin: 0;
	display: block;
  	@include text-align-center();
	
	& > li {
		padding: 0 20px;
		display: inline-block;
		vertical-align: inherit;
	}
}

ul.pages {
	& > li {
		padding: 0 2px !important;
		display: inline-block;
		vertical-align: inherit;
	}
}

.pagination-disabled {
	color: #888888 !important;
	cursor: default;
	opacity: 0.8;
}