// -----------------------------------------------------------------------------
  // Tabs
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES

.ui-tabs {
  display: block;
  justify-content: left;
  align-items: left;
  padding: 0;
  margin: 0 12px;
}

.ui-tabs-tab-wrapper {
  width: 100%;
  display: block;
  justify-content: left;
  align-items: left;

  &.smart {
    display: none;
  }
  & .ui-tabs-tab:first-child {
		border-top-left-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 0;
	}

	& .ui-tabs-tab:last-child {
		border-top-left-radius: 0;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 3px;
	}

	& .ui-tabs-tab:only-child {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}

.ui-tabs-content-wrapper {
  width: 100%;
  display: block;
  padding: 16px 8px;

  &.smart {
    display: none;
  }
}

.ui-tabs-content {
  display: none;

  &.active {
    display: block;
  }
}

.ui-tabs-tab {
  border: none;
  padding: 0 24px;
  margin: 0px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  height: 36px;
  cursor: pointer;
  line-height: 36px;
  font-weight: 500;
  font-size: $text-font-size;
  overflow: hidden;
  box-shadow: 1px 1px 0 rgba(0,0,0,0);

  @include text-align-left();

  &.active {
    box-shadow: 0 3px 1px -2px $text-color;
		font-weight: 600;
  }

  &.active:after {
    display: inline;
    background: none !important;
    background: transparent !important;
    animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) alternate forwards;
    transition: all 1s cubic-bezier(0.4, 0.0, 1, 1);
  }

  &.alert {
		border-color: rgb(235,77,55) !important;
		&:after {
			color: #e32;
			content: ' *';
		  font-size: 16px;
	  }
  }

}

.ui-tabs-tab-button {
  margin: 0 2px;
  border: none;
  padding: 18px 0;
  float: left;
  position: relative;
  display: block;
  text-decoration: none;
  cursor: pointer;
  width: 190px;
  height: 58px;
  line-height: 30px;
  font-weight: 500;
  font-size: $text-font-size;
  overflow: hidden;

  @include text-horizontal-align-center();

  &.active {
    background: transparent;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

@keyframes border-expand {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}
