// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

 @import 'config';

 
.ui-dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer !important;
    transition-property: $dropdown-transition-properties;
    @include animate-default(0.2s);

    &:hover, &:focus, &.open {
        & > .show-on-hover {
            display: block;
        }
    }
}

.ui-dropdown-toggle {
    color: $dropdown-text-color;
    background-color: $dropdown-background-color;
    position: relative;
    padding: $dropdown-toggle-padding;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: $border-radius;
    cursor: pointer;
    transition-property: $dropdown-transition-properties;
    @include animate-default(0.2s);
    @include dropdown-shadow();

    &:hover, &:focus, &.open {
        & > .show-on-hover {
            display: block;
        }
    }
}

.ui-dropdown-caret {
    font-size: 16px;
    padding: 0;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -8px;
}

.ui-dropdown-content {
    display: block;
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    background-color: white;
    border: none;
    min-width: 100%;
    list-style: none;
    height: 0;
    overflow: hidden;
    z-index: 69;

    @include shadow-removed();
    @include animate-default(0.2s);
    transition-property: height, border-shadow;

    &.open {
        height: auto !important;
        max-height: 320px !important;
        overflow-y: auto !important;
        border: $border;
        @include shadow-basic();
    }
}

.ui-dropdown-item,
.ui-dropdown-option {
    display: block;
    width: 100%;
    margin: 0;
    padding: 6px 20px 8px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border-width: 0 0 1px 0 !important; 
    border-style: solid;
    border-color: $color-invisible $color-invisible $color-dark-alpha-2 $color-invisible !important;
    @include text-align-left();

    & > strong {
        font-weight: 700 !important;
    }

    &:hover, &:focus, &.ui-dropdown-item-selected, &.ui-dropdown-option-selected {
        background-color: $color-dark-alpha-2;
    }

    &.disabled {
        &:hover, &:focus, &.ui-dropdown-item-selected, &.ui-dropdown-option-selected {
          background-color: transparent !important;
        }
    }
}

.ui-dropdown-active {
    display: block;
}