// -----------------------------------------------------------------------------
  // Header
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

.ui-top-bar {
  display: block;
  justify-content: start;
  align-content: start;
  flex-basis: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 77;
  & > .ui-content {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    -webkit-overflow-scrolling: touch;
  }
  &.ui--styled {
    color: $header-text-color;
    background-color: $header-background-color;
    box-shadow: -1px 1px 2px -1px rgba(0,0,0,.23),2px 1px 2px -1px rgba(0,0,0,.23);
  }

  @media screen and (max-width: $mobile-screen-threshold) {
    min-height: $framing-size;
  }
}
