// -----------------------------------------------------------------------------
  // Title
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

// VARIABLES

.ui-title {
	display: block;
	padding: 1em 0 .8em;
	margin: 0 0 .8em;
	font-weight: inherit;
	& > h1,
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6,
	& > small {
		display: inline-block;
	  margin: 0;
		padding: 0;
	}
	& > h4,
	& > h5,
	& > h6,
	& > small {
		font-weight: inherit;
	}
  &.ui-sticky {
    border: none;
    border-radius: 0;
    background-color: #fff;
		box-shadow: 0px -2px 3px 1px rgba(0,0,0,.8),
	              0px -2px 2px -1px rgba(0,0,0,.8);
  }
}

.ui-title-subtitle,
.ui-title-icon {
    padding: 0;
}

.ui-title-subtitle {
    display: block !important;
		margin: .5em 0 0 0 !important;
}

.ui-title-icon {
    display: inline-block;
    margin-bottom: 6px;
}

section > .ui-title,
header > .ui-title,
footer > .ui-title,
nav > .ui-title,
ul > .ui-title,
form > .ui-title,
.window > .ui-title,
.ui-well > .ui-title,
.ui-panel > .ui-title,
.ui-inset > .ui-title,
.ui-raised > .ui-title,
.ui-grid-column > .ui-title {
    & > .ui-title-content,
    & > .ui-title-icon {
        margin: 0;
    }
}
