// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

 @import 'config';

// .ui-grid {
//   @include make-grid();
//   //@include make-grid-max-widths();
// }

// .ui-grid-row {
//   @include make-grid-row();
// }

// @include make-grid-columns();

.ui-grid {
  display: block;
  padding: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.ui-grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 4px;

  & > .ui-grid-row {
    padding: ($padding-large / 2) 0 ($padding-large / 2) $padding-large;
  }
}

.ui-grid-column,
.ui-grid-row-column {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;

  margin: 2px 0.1em 6px;
  padding-left: 0.25%;
  padding-right: 0.25%;
  padding-bottom: 0.4em;

  &.ui-panel {
    margin: 0.33em 0.1em;
  }

  &.span-1 {
    flex-basis: 7.8%;
  }
  &.span-2 {
    flex-basis: 16.1%;
  }
  &.span-3 {
    flex-basis: 24.5%;
  }
  &.span-4 {
    flex-basis: 32.5%;
  }
  &.span-5 {
    flex-basis: 41.1%;
  }
  &.span-6 {
    flex-basis: 49.5%;
  }
  &.span-7 {
    flex-basis: 57.8%;
  }
  &.span-8 {
    flex-basis: 65.5%;
  }
  &.span-9 {
    flex-basis: 74.6%;
  }
  &.span-10 {
    flex-basis: 82.8%;
  }
  &.span-11 {
    flex-basis: 91.2%;
  }
  &.span-12 {
    flex-basis: 99.5%;
  }

  @media screen and (max-width: $mobile-screen-threshold) {
    flex-basis: auto;
  }
}

.ui-grid-divider {
  padding: 2px 14px 2px 2px;
  border: 0px solid rgba(0,0,0,0);
  border-right: 1px solid rgba(0,0,0,0.2);
  border-bottom: 0px solid rgba(0,0,0,0);

  @media screen and (max-width: $mobile-screen-threshold) {
    padding: 2px 2px 14px 2px;
    border-right: 0px solid rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}

.ui-grid-post-divider {
  padding: 2px 2px 2px 14px;

  @media screen and (max-width: $mobile-screen-threshold) {
    padding: 14px 2px 2px 2px;
  }
}
