// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

 @import 'config';


.ui-toolbar {
  width: 100%;
  height: $outer-frame-size;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  @include shadow-basic();
  @include animate-default();
  transition-property: $layout-transition-properties;

  @media screen and (max-width: $screen-size-threshold) {
    min-height: $toolbar-height;
  }
}

.ui-toolbar-content {
  min-height: $toolbar-height;
  z-index: 8;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  @include text-horizontal-align-center();
}

.ui-toolbar-title {
  display: inline-block;
  padding: $toolbar-title-padding;
  font-size: $toolbar-title-font-size;
  line-height: 1;
  margin: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}

.ui-toolbar-item,
.ui-toolbar-text,
.ui-toolbar-button,
.ui-toolbar-icon {
  display: inline-block;
  position: relative;
  justify-content: space-between;
  margin: 0;
  border-radius: 0;
  font-size: $toolbar-font-size;
  color: inherit;
  background-color: transparent;
  @include text-horizontal-align-center();
  & > .fa,
  & > .devicon {
    display: inline-block;
    font-size: $toolbar-icon-font-size !important;
    padding: $toolbar-icon-padding !important;
  }
}

.ui-toolbar-button {
  line-height: 22px;
}

.ui-toolbar-item,
.ui-toolbar-text {
  cursor: pointer;
  border: none;
  line-height: 1;
}

.ui-toolbar-item {
  padding: $toolbar-item-padding;
}

.ui-toolbar-text {
  padding: $toolbar-text-padding;
}

.ui-toolbar-button {
  padding: $toolbar-button-padding;
}

.ui-toolbar-logo {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  height: 100%;
  cursor: pointer;
  border: none;
  & > img {
    padding: 0;
    height: 100%;
  }
}

.ui-toolbar-list {
  display: inline-block;
  padding: $toolbar-list-padding;
  margin: 0;
  letter-spacing: 1px;
  font-size: $toolbar-list-font-size;
  line-height: 1;
  list-style-type: none;
  @include text-horizontal-align-right();
}
