// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.ui-toolbar {
	margin: 0;
	padding: 10px 10px 12px;
}

.ui-toolbar-header,
.ui-toolbar-content {
	display: inline-block;
	width: 100%;
	padding: 0;
  	@include text-vertical-align-middle();
}

.ui-toolbar-header {
	margin: 0 0 20px;
}

.ui-toolbar-content {
	margin: 0;
}

.ui-toolbar-title,
.ui-toolbar-badge {
	float: left;
}

.ui-toolbar-title {
	display: inline-block;
  	padding: 0 !important;
  	margin: 0px 10px 0px 0px !important;
  	vertical-align: middle;
  	@include typo-control-title();
  	@include text-align-left();
}

.ui-toolbar-form {
	display: flex;
	flex-flow: row;
	width: 100%;
}

.ui-toolbar-table {
	flex: auto;
  	border-collapse: collapse;
  	white-space: nowrap;
  	@include text-align-left();
  	&.ui-toolbar-table-large {
  		min-width: 55%;
  	}
}

.ui-toolbar-table-cell {
	padding: 0 $padding 0 0;
}

.ui-toolbar-table-footer {
	padding: $padding $padding 0 0;
}

.ui-toolbar-input,
.ui-toolbar-component {
	width: 98% !important;
	display: inline-block;
	margin: 0px $padding-large 0px ($padding-large / 2);
}

.ui-toolbar-component {
  	@include text-align-center();
}

.ui-toolbar-badge {
	margin: 0px 2px 0px 2px;
}

.ui-toolbar-divider {
	height: 48px;
	width: 1px;
	background: rgb(151, 151, 151) none repeat scroll 0% 0%;
	margin: 0px 0px 0px 16px;
}
