/***
 *    ██████╗ ██████╗ ███████╗ █████╗ ██████╗  ██████╗██████╗ ██╗   ██╗███╗   ███╗██████╗ ███████╗
 *    ██╔══██╗██╔══██╗██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗██║   ██║████╗ ████║██╔══██╗██╔════╝
 *    ██████╔╝██████╔╝█████╗  ███████║██║  ██║██║     ██████╔╝██║   ██║██╔████╔██║██████╔╝███████╗
 *    ██╔══██╗██╔══██╗██╔══╝  ██╔══██║██║  ██║██║     ██╔══██╗██║   ██║██║╚██╔╝██║██╔══██╗╚════██║
 *    ██████╔╝██║  ██║███████╗██║  ██║██████╔╝╚██████╗██║  ██║╚██████╔╝██║ ╚═╝ ██║██████╔╝███████║
 *    ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝  ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚═════╝ ╚══════╝
 *                                                                                                
 */
// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.ui-breadcrumbs {
	display: block;
	width: 100%;
	height: 40px;
  padding: 0 30px;
  margin: 0;
}

.ui-breadcrumbs-shim {
	display: block;
	width: 100%;
	padding: 0 0 50px;
}

.ui-breadcrumb,
.ui-breadcrumb-right,
.ui-breadcrumb-divider {
	display: inline-block;
	font-weight: 700;
	box-sizing: border-box;
	height: 100%;
}

.ui-breadcrumb,
.ui-breadcrumb-right {
	padding: $widget-padding;
	font-size: 13px;
	opacity: 0.7;
	&:hover,
	&:focus,
	&:active {
		opacity: 1;
	}
}

.ui-breadcrumb {
  color: $text-color;
	justify-content: start;
  @include text-align-left();
}

.ui-breadcrumb-right {
	position: absolute;
	top: 0;
	left: 75%;
	justify-content: end;
  	@include text-align-right();
	margin-right: 90px;
}

.ui-breadcrumb-divider {
	padding: $widget-padding;
	font-size: 16px;
	opacity: 0.25;
}

.ui-breadcrumb-active {
	opacity: 0.5;
}
