// -----------------------------------------------------------------------------
  // Header
// -----------------------------------------------------------------------------

////
/// @author Steve Jackson
/// @group components
////

.ui-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-basis: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 77;
  color: $header-text-color;
  background-color: $header-background-color;

  @media screen and (max-width: $mobile-screen-threshold) {
    min-height: $framing-size;
  }
}

.ui-header-content {
  display: block;
  width: 100%;
  height: 100%;
  flex-basis: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
