// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.ui-title {
	display: block;
}

.ui-title-content,
.ui-title-subtitle,
.ui-title-icon {
    display: block;
}

.ui-title-content,
.ui-title-icon {
    padding: 0 !important;
    margin-bottom: 6px !important;
}

.ui-title-subtitle,
.ui-title-icon {
    padding: 0 !important;
    margin: 0 !important;
}

.ui-title-content,
.ui-title-subtitle {
    & > .ui-title-icon {
        display: inline-block !important;
        margin: 0 !important;
    }
}

section > .ui-title,
header > .ui-title,
footer > .ui-title,
nav > .ui-title,
ul > .ui-title,
form > .ui-title,
.window > .ui-title,
.well > .ui-title,
.panel > .ui-title {
    & > .ui-title-content,
    & > .ui-title-icon {
        margin: 0 !important;
    }
}
