// -----------------------------------------------------------------------------
// This file contains all component specific Sass mixins.
// -----------------------------------------------------------------------------

// VARIABLES

$nav-padding: $padding 24px;
$nav-item-size: 18px;
$nav-item-height: $framing-size;
$nav-item-padding: 18px 21px;
$nav-icon-size: $framing-size;
$nav-icon-fontsize: 18px;
$nav-icon-width: $framing-size;
$nav-caret-fontsize: 12px;
$nav-caret-padding: ($nav-item-height / 4);
$nav-caret-width: 17px;
$nav-info-fontsize: 16px;
$nav-info-width: ($framing-size-large - 44);
$nav-list-line-height: 20px;
$nav-list-margin: -10px 0px 0px 0px;

$nav-folder-item-font-color: rgba(239,239,239,0.7);
$nav-folder-item-font-color-hover: color-light-alpha(0.1);
$nav-folder-item-height: 36px;
$nav-folder-title-fontsize: 18px;
$nav-folder-title-padding: 12px 0 6px 12px;
$nav-folder-icon-fontsize: 20px;
$nav-folder-icon-line-height: 28px;
$nav-folder-icon-margin: 8px 12px 8px 48px;
$nav-folder-info-fontsize: 12px;
$nav-folder-info-padding: 0;
$nav-folder-caret-fontsize: $nav-caret-fontsize;
$nav-folder-caret-padding: 17px 10px 17px 0;
