// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------
.ui-nav {
    height: 100%;
    width: 100%;
    color: inherit;
    overflow: hidden;

    &.minimized {
        & > .ui-nav-item {
            & > .ui-nav-item-info {
                display: none;
            }
        }
        & > .ui-nav-flyout-wrapper {
            & > .ui-nav-item {
                & > .ui-nav-item-info {
                    display: none;
                }
            }
            & > .ui-nav-folder {
    			background-color: rgba(0, 0, 0, 0.8);
                position: absolute !important;
                &:hover,
                &:focus {
                    width: auto;
                    max-width: 300px;
                    border: $gentle-border;
                    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.3), 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
                }
                & > .ui-nav-folder-item {
                    padding: 0 60px 0 0;
                    & > .ui-nav-folder-item-icon {
                        margin: 8px 0;
                        float: right;
                    }
                    & > .ui-nav-folder-item-info {
                        width: $nav-info-width - 5;
                        margin: 8px 0;
                    }
                }
            }
        }
        & > .ui-nav-flyout-wrapper:hover {
            & > .ui-nav-item {
                font-weight: 600;
            }
            & > .ui-nav-folder {
                width: auto;
                height: auto;
                max-width: 300px;
                border: $gentle-border;
                box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.3), 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
                & > .ui-nav-folder-item {
                    padding: 0 12px 0 40px;
                    height: $nav-folder-item-height;
                }
                & > .ui-nav-folder-title {
                    padding: 20px 0 0 40px;
                    height: $nav-item-height;
                }
            }
        }
    }

    &.ui-orientation-vertical {
    	&.minimized {
    		width: $nav-icon-size;
	        & > .ui-nav-flyout-wrapper {
	            & > .ui-nav-folder {
	                left: $outer-frame-size;
	                margin-top: ($nav-item-height * -1);
	            }
	        }
	    }

	    &:not(.minimized) {
	        & > .ui-nav-flyout-wrapper {
	            & > .ui-nav-folder {
	                &.expanded {
	                    height: auto;
	                    & > .ui-nav-folder-item {
	                        height: $nav-folder-item-height;
	                    }
	                }
	            }
	        }
	    }
    }

    &.ui-orientation-horizontal {
        & > .ui-nav-item {
            display: inline-block;
        }
    	&.minimized {
    		height: $nav-icon-size;
	        & > .ui-nav-flyout-wrapper {
	            & > .ui-nav-folder {
	                top: $outer-frame-size;
                	margin-left: ($nav-item-height * -1);
	            }
	        }
	    }
    }
}

.ui-nav-item {
    display: block;
    position: relative;
    justify-content: space-between;
    height: $nav-item-height;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit !important;
    background-color: rgba(0, 0, 0, 0);
    @include animate-default(0.2s);
    transition-property: all;
    &.active {
        font-weight: 600;
    }
    & > .left {
        left: $padding-medium;
    }
    & > .right {
        right: $padding-medium;
    }
    & > ul,
    & > ol {
        list-style-type: none;
        line-height: $nav-list-line-height;
    }
    &:hover,
    &:focus {
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.ui-nav-item-icon,
.ui-nav-item-info,
.ui-nav-item-caret {
    display: inline-block;
    vertical-align: middle;
}

.ui-nav-item-icon {
    width: $nav-icon-size;
    text-align: center;
    font-size: $nav-icon-fontsize;
    line-height: $nav-item-height;
    position: absolute;
}

.ui-nav-item-info {
    width: 100%;
    height: 100%;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $nav-info-fontsize;
    line-height: $nav-item-height;
    text-indent: $nav-icon-size;
}

.ui-nav-item-caret {
    font-size: $nav-caret-fontsize;
    font-style: normal;
    position: absolute;
    top: 6px;
    right: 0;
    padding: 12px 10px;
}

.ui-nav-folder {
    display: block;
    height: auto;
    font-size: $nav-folder-info-fontsize;
    list-style-type: none;
    line-height: 1;
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    @include shadow-removed();
    @include animate-default(0.1s);
    transition-property: all;

    &.expanded {
        height: 0px;
    }
}

.ui-nav-folder-item,
.ui-nav-folder-title {
    height: 0px;
    border: none;
    padding: 0;
    color: inherit;
    display: block;
    @include animate-default(0.3s);
    transition-property: width, height, padding;
    overflow: hidden;
}

.ui-nav-folder-title {
    background-color: rgba(0, 0, 0, 0.8);
}

.ui-nav-folder-item {
    &:hover,
    &:focus {
        font-weight: 600;
    	background-color: rgba(33, 150, 243, 0.8);
    }
}

.ui-nav-folder-item-icon,
.ui-nav-folder-item-info,
.ui-nav-folder-item-caret {
    text-align: start;
    vertical-align: middle;
}

.ui-nav-folder-item-icon {
    height: 20px;
    min-width: 20px;
    padding: $nav-folder-icon-padding;
    font-size: $nav-folder-icon-fontsize;
    line-height: $nav-folder-icon-line-height;
    margin: $nav-folder-icon-margin;
}

.ui-nav-folder-item-info {
    display: inline-block;
    height: 20px;
    width: auto;
    padding: $nav-folder-info-padding;
    font-size: $nav-folder-info-fontsize;
    font-weight: 600;
    line-height: 20px;
}

.ui-nav-folder-item-icon {
    height: 20px;
    min-width: 20px;
    padding: $nav-folder-icon-padding;
    margin: $nav-folder-icon-margin;
    font-size: $nav-folder-icon-fontsize;
    line-height: $nav-folder-icon-line-height;
}

.ui-nav-folder-item-caret {
    padding: $nav-folder-caret-padding;
    font-size: $nav-folder-caret-fontsize;
    line-height: $nav-folder-item-height;
}

.ui-nav-folder-title,
.ui-nav-folder-item-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-nav-border {
    border-bottom: $common-border;
}

.ui-nav-flyout {
    width: 200px;
    border: $common-border;
    position: absolute;
    left: ($outer-frame-size - 1);
    top: 0;
}

.ui-nav-flyout-wrapper {
    display: block;
    width: 100%;
}
