// -----------------------------------------------------------------------------
// Add Notes Here
// -----------------------------------------------------------------------------

@import "config";

.ui-nav,
.ui-nav-content {
  color: inherit;
  background-color: inherit;
}

.ui-nav-content {
  display: block;
  overflow: hidden;
  &.ui-nav-hidden {
    width: 0px !important;
    height: 0px !important;
  }
}

.ui-nav {
  display: flex;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
  flex-wrap: nowrap;
  align-content: space-evenly;
  justify-content: flex-start;

  &.ui-orientation-vertical {
    min-height: 100%;
    max-height: 100%;
    height: auto;
    flex-direction: column;

    & > .ui-nav-content {
      width: auto;
      height: 100%;
      & > .ui-nav-item {
        display: block;
      }
    }
  }

  &.ui-orientation-horizontal {
    min-width: 100%;
    max-width: 100%;
    height: $nav-item-height;
    flex-direction: row;

    & > .ui-nav-content {
      width: 100%;
      height: auto;
      & > .ui-nav-item {
        display: inline-block;
        text-align: center !important;
      }
    }

    @media screen and (max-width: $mobile-screen-threshold) {
      height: auto;
    }
  }

  @media screen and (max-width: $mobile-screen-threshold) {
    flex-wrap: wrap;
  }
}

.ui-nav-item {
  position: relative;
  justify-content: space-between;
  text-align: left;
  height: 0px;
  width: 0px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  @include animate-default(0.2s);
  transition-property: all;
  &.visible {
    height: $nav-item-height;
    width: auto;
  }
  @media screen and (max-width: $mobile-screen-threshold) {
    display: block !important;
  }
}

.ui-nav-item-link {
  display: inline-flex;
  height: 100%;
  width: 100%;
  border: none;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;

  &:hover,
  &:focus {
    color: inherit !important;
    background-color: rgba(0, 0, 0, 0);
  }
}

.ui-nav-item-icon {
  display: inline-block;
  min-width: $nav-icon-size;
  max-width: $nav-icon-size;
  font-size: $nav-icon-fontsize !important;
  line-height: $nav-item-height !important;
  text-align: center;
  vertical-align: middle;
  flex-basis: $nav-icon-size;
}

.ui-nav-item-info {
  display: inline;
  max-width: calc(100% - 40px);
  height: 100%;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $nav-info-fontsize !important;
  line-height: $nav-item-height !important;
  padding: 0 8px 0 0;
}

.ui-nav-folder {
  z-index: 99;
  display: block;
  height: 0px;
  font-size: $nav-folder-info-fontsize !important;
  list-style-type: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: none;
  color: $text-color;
  background-color: $background-color;
  @include shadow-removed();
  @include animate-default(0.1s);
  transition-property: all;
  overflow: hidden;
  position: fixed !important;

  &.open {
    width: auto;
    height: auto;
    max-width: 300px;
    border: $border;
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.3),
      2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  }
}

.ui-nav-folder-item,
.ui-nav-folder-title {
  border: none;
  display: block;
  @include animate-default(0.3s);
  transition-property: width, height, padding;
  overflow: hidden;
}

.ui-nav-folder-item {
  height: $nav-folder-item-height;
  padding: 0;
}

.ui-nav-folder-title,
.ui-nav-folder-item-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-nav-folder-title {
  padding: $nav-folder-title-padding;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: $nav-folder-title-fontsize;
  font-weight: 600;
  text-align: left;
}

.ui-nav-folder-item-info {
  display: inline-block;
  height: $nav-folder-item-height;
  width: $nav-info-width;
  margin: 0;
  padding: $nav-folder-info-padding;
  font-size: $nav-folder-info-fontsize !important;
  font-weight: 600;
  line-height: $nav-folder-item-height;
  text-indent: 8px;
  text-align: start;
  vertical-align: middle;
  flex-basis: $nav-info-width;
}

.ui-nav-folder-item-icon {
  width: $nav-folder-item-height;
  height: $nav-folder-item-height;
  margin: 0;
  padding: 0;
  font-size: $nav-folder-icon-fontsize !important;
  line-height: $nav-folder-icon-line-height !important;
  text-align: center;
  vertical-align: middle;
  flex-basis: $nav-folder-item-height;
}

.ui-nav-item,
.ui-nav-folder-item {
  &:hover,
  &:focus {
    color: $color-lightest;
    background-color: $color-blue-highlight;
  }
}

.ui-nav-toggle {
  display: inline-block;
  color: inherit;
  @include text-horizontal-align-left();
  @media screen and (max-width: $mobile-screen-threshold) {
    display: block !important;
  }
}

.ui-nav-toggle-button {
  width: $framing-size;
  height: $framing-size;
  color: inherit;
  background-color: transparent;
  padding: 2px;
  font-size: $toggle-size;
  border: none;
  border-radius: 0;
  @include shadow-removed();
  outline: none !important;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border: none;
    outline: none !important;
  }
}
